.pop-up {
    border-radius: 25px;
    box-shadow: 10px 10px 25px #e3e3e7;
    background-color: #fff;
    margin: 2% auto;
}
.verify-icon {
    float: none;
}
.verify-account .row {
    position: relative;
}
#loadessr {
    background-color: rgba(217,217,217,0.3);
    z-index: 1;
  }
.verify-icon img {
    width: 7%;
}
.resend-verify-container {
    position: relative;
}
.resend-verify {
    margin: auto;
    float: none;
}

.resend-verify .input{
    width: 50%;
}

input[type=submit] {
    width: initial;
    font-family: OpenSansBold;
    border: none;
    font-size: 14px;
    background: #333;
    text-transform: uppercase;
    padding: 18px 46px;
    color: #fff;
    text-decoration: none;
    border-radius: 33px;
}
.error-input {
    text-align: left;
}
.global-message  {
   color: #dc3545;
   font-size: 13px;
}
.verify-success-content p {
    margin-bottom: 15px;
}
.verify-success-content p b {
    color:  #12cd6a;
}
.verify-success-content a{
    color: #fff;
    margin: 23px auto 3px;
    border-radius: 40px;
    font-size: 14px;
    background: #333;
    width: initial;
    padding: 15px 40px;
    margin: 15px auto;
}
@media (max-width: 991px) {
    .form-group label {
        text-align: left;
    }
}