.white-text p {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px
}
.deximJobs_tabs .tab-content {
  margin-top: 4px
}
.deximJobs_tabs .sidebar {
  margin-top: 0 
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline: none
}

@mixin padding-for-lost_password{
  padding: 0 0 0 10px
}

@mixin margin-sidebar{
  margin-top: 20px
}


@media (min-width: 1281px) {
 
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .deximJobs_tabs .contact_us .lost_password {
    @include padding-for-lost_password
  };
  .deximJobs_tabs .sidebar{
    @include margin-sidebar
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .deximJobs_tabs .contact_us .lost_password {
    @include padding-for-lost_password
  };
  .deximJobs_tabs .sidebar{
    @include margin-sidebar
  };
}

@media (min-width: 481px) and (max-width: 767px){
  .deximJobs_tabs .contact_us .lost_password {
    @include padding-for-lost_password
  };
  .deximJobs_tabs .sidebar {
    @include margin-sidebar
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .deximJobs_tabs .contact_us .lost_password {
    @include padding-for-lost_password
  };
  .deximJobs_tabs .sidebar {
    @include margin-sidebar
  }
}