.white-text p {
  font-size: 26px
}
.deximJobs_tabs .tab-content {
  margin-top: 4px
}
.deximJobs_tabs .sidebar {
  margin-top: 0 
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline: none
}


@media (max-width: 480px) {
  .deximJobs_tabs .contact_us .lost_password {
    padding: 0 0 0 10px
  };
  .deximJobs_tabs .sidebar {
    margin-top: 20px
  }
}
@media (max-width: 580px) {
  .deximJobs_tabs .contact_us .lost_password {
    padding: 0 0 0 10px
  };
  .deximJobs_tabs .sidebar {
    margin-top: 20px
  }
}
@media (max-width: 660px) {
  .deximJobs_tabs .contact_us .lost_password {
    padding: 0 0 0 10px
  };
  .deximJobs_tabs .sidebar{
    margin-top: 20px
  }
}
@media (max-width: 767px) {
  .deximJobs_tabs .contact_us .lost_password {
    padding: 0 0 0 10px
  };
  .deximJobs_tabs .sidebar{
    margin-top: 20px
  }
}