.success .widget {
  margin-left: 33%;
}
.success .nav a {
  padding-right: 0px;
}
.container-fluid.reset-pass .row {
  position: relative;
}
.global-error .invalid-token a {
  text-decoration: underline;
  color: #fff;
}

#loadessr {
  background-color: rgba(217,217,217,0.3);
  z-index: 1;
}
@media (max-width: 576px) {
  .success .nav a {
    font-size: 25px;
  }
  .success .white-text p {
    font-size: 16px;
  }
}