<!-- Header Section -->
<app-header></app-header>
<!-- Header Section -->



<!--content lost_password-->
<div class="container-fluid reset-pass header_area deximJobs_tabs">
  <div class="row">
    <div id="loadessr" *ngIf="loading">
      <div id="loader">
      </div>
    </div>
    <div class="container main-container">

      <!-- Reset password form  -->
      <div class="col-lg-offset-1 col-lg-11 col-md-12 col-sm-12 col-xs-12" *ngIf="!resetPasswordSuccess">
        <ul class="nav nav-pills ">
          <li class="active">
            <a>Update Password</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="lost-password" class="white-text">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding-left">
              <p class="description">
                Please update new password for your account.
              </p>
              <form name="contact_us" 
                    class="contact_us validation-form" 
                    [formGroup]="resetPasswordForm"
                    (ngSubmit)="resetPassword()">
                <div class="form-group global-error" 
                    [style.display]="hasServerError ? '' : 'none'">
                  <label></label>
                  <div *ngIf="submitted" class="error-input">
                      <div *ngIf="resetPasswordForm.errors?.serverError?.serverError">
                          {{resetPasswordForm.errors.serverError.message}}
                      </div>
                      <div class="invalid-token" *ngIf="resetPasswordForm.errors?.serverError?.invalidToken">
                          Invalid token. Go to <a routerLink="/lost-password">forgot password</a> to send email again.
                      </div>
                  </div>
                </div>


                <div class="form-group required">
                  <label>Password</label>
                  <div class="input-container">
                    <input type="password" 
                           name="name" 
                           formControlName="password"
                           [ngClass]="{'has-error': submitted && control.password.invalid}">
                    <div *ngIf="control.password.invalid" class="error-input">
                      <div *ngIf="submitted && control.password.errors.required">
                        Password is required.
                      </div>
                      <div *ngIf="control.password.errors.minlength">
                          Password is at least {{control.password.errors.minlength.requiredLength}} characters.
                        </div>
                    </div>
                  </div>
                </div>

                <div class="form-group required">
                    <label>Repeat password</label>
                    <div class="input-container">
                      <input type="password" 
                            name="name" 
                            formControlName="repeatPassword"
                            [ngClass]="{'has-error': resetPasswordForm.errors?.matchedPassword || submitted && control.repeatPassword.errors}">
                      <div *ngIf="resetPasswordForm.invalid"
                            class="error-input">
                            <div *ngIf="resetPasswordForm.errors?.matchedPassword">
                              Password doesn't match.
                            </div>
                            <div *ngIf="submitted && control.repeatPassword.errors?.required">
                              Password required.
                            </div>

                      </div>
                    </div>  
                </div>

                <div class="form-group submit">
                  <label>Submit</label>
                  <input type="submit" name="submit" value="Update Password" class="submit" id="submit">
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

      
<!-- Reset password successfully -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 success" *ngIf="resetPasswordSuccess">
          <ul class="nav nav-pills ">
              <li class="active col-xs-12 text-center">
                <a>Reset password successfully!!</a>
              </li>
            </ul>
            <div class="tab-content">
              <div  class="white-text">
                <div class="col-xs-12 ">
                  <p class="description text-center">
                    Click the button below to sign in
                  </p>
                  <div class="col-xs-4 widget">
                    <a class="label signin" routerLink="/login" value="login">Sign in</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
<!-- Reset password successfully -->
    </div>
  </div>
</div>
<!--content lost_password-->

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->