.filter-result {
  padding: 40px 0;
}

.desig {
  width: 80%;
  h4 {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

.main-container.jobs {
  position: relative;
  min-height: 500px;
}

.company-logo {
  width: 65px;
  object-fit: cover;
}
.brows-job-sallery {
  font-size: 15px;
}
.joblist .bg-image .photoBanner{
  img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
}
@media (max-width: 500px) {
  .desig {
    width: 100%;
  }
}
@media (min-width: 536px) and (max-width: 1200px){
  .joblist .bg-image .photoBanner{
    margin-top: 44px;
  }
}

.mr{
  margin-right: 380px;
  h4.skills {
    text-align: center;
    font-size: 13px;
    color:#fff;
    font-weight: bold;
    padding: 4px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .mr{
    margin-right: 280px;
    h4.skills {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .mr{
    margin-right: 380px;
    h4.skills {
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .mr{
    margin-right: 280px;
    h4.skills {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .mr{
    margin-right: 80px;
    margin-left: 80px;
    h4.skills {
      text-align: center;
    }
  }
}
