.filter-result {
  padding: 40px 0;
}

.desig {
  width: 80%;
  .skills{
    span.skill {
      font-size: 13px;
      font-weight: 700;
      margin-right: 10px;
      display: inline-block;
      padding: 2px 10px;
      color: white;
    }
  }
  .skills.color_1{
    >span.skill{
      background-color:#33BF96;
    }
  }
  .skills.color_2{
    >span.skill{
      background-color:#F4C22D;
    }
  }
  .skills.color_3{
    >span.skill{
      background-color:#F8A430;
    }
  }
  .skills.color_4{
    >span.skill{
      background-color:#F57648;
    }
  }
  .skills.color_5{
    >span.skill{
      background-color:#E35357;
    }
  }
}

.main-container.jobs {
  position: relative;
  min-height: 500px;
}

.company-logo {
  width: 65px;
  object-fit: cover;
}
.brows-job-sallery {
  font-size: 15px;
}
.joblist .bg-image .photoBanner{
  img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
  }
}
@media (max-width: 500px) {
  .desig {
    width: 100%;
  }
}

.mr{
  // margin-right: 380px;
  h4.skills {
    text-align: center;
    font-size: 13px;
    color:#fff;
    font-weight: bold;
    padding: 4px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .mr{
    margin-right: 280px;
    h4.skills {
      text-align: center;
    }
  }
  .joblist .bg-image .photoBanner{
    margin-top: 104px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .mr{
    margin-right: 380px;
    h4.skills {
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .mr{
    margin-right: 280px;
    h4.skills {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .mr{
    margin-right: 80px;
    margin-left: 80px;
    h4.skills {
      text-align: center;
    }
  }
  .joblist .bg-image .photoBanner{
    margin-top: 10px;
  }
}
@media(max-width:500px){
  .filter-result{
    .col-md-7.col-xs-12.pull-left{
      .company-left-info.company-logo.pull-left{
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
      }
    }
  }
}