<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Thu,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="5"></steps-update-profile>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">Kinh nghiệm làm việc
        <button class="btn btn-link pull-right" (click)="eplHistoryModal.show()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Thêm kinh nghiệm làm việc</button>
      </h4>
    </div>

    <div class="list-working" *ngIf="workingExperiences">
      <div class="row" *ngIf="!workingExperiences.length">
        <div class="col-md-12">
          <p class="not-update-alert">Vui lòng hoàn thiện kinh nghiệm làm việc.</p>
        </div>
      </div>

      <div class="item" *ngFor="let working of workingExperiences">
        <div class="row">
          <div class="col-xs-3 col-md-1">
            <img src="assets/images/company-buiding-icon.png" class="img-responsive" alt="company">
          </div>
          <div class="col-xs-6 col-md-8">
            <p class="working-title">
              {{ working.company }}
              <span class="working-description">(Từ {{ working.fromMonth }} - {{ working.toMonth }})</span>
            </p>
            <p class="working-title">
              Vị trí:
              <span class="working-description">{{ working.jobTitle }}</span>
            </p>
            <p class="working-title">Mô tả công việc:</p>
            <p class="working-description">{{ working.additionalInformation }}</p>
          </div>
          <div class="col-xs-3 col-md-3 pull-right">
            <div class="pull-right">
            <button type="button" class="btn btn-modify mr-2" (click)="deleteWorkingExperience(working.id)">
              <i *ngIf="!isDeletingWorking" class="fa fa-trash-o" aria-hidden="true"></i>
              <i *ngIf="isDeletingWorking" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              Xoá
            </button>
            <button type="button" class="btn btn-modify" (click)="editWorkingExperience(working.id)"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Add Employment History -->
  <div bsModal #eplHistoryModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thêm kinh nghiệm làm việc</h4>
          <button type="button" class="close pull-right" (click)="eplHistoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="update-form" [formGroup]="workingExperienceFormGroup" (ngSubmit)="workingExperienceSubmit()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="{ 'has-error': submittedWorking && weF.jobTitle.errors }">
                  <label for="subject" class="required">Chức danh</label>
                  <input type="text" class="form-control" placeholder="VD: Developer, UI/UX Designer" formControlName="jobTitle">
                  <div *ngIf="submittedWorking && weF.jobTitle.errors">
                    <em *ngIf="weF.jobTitle.errors.required" class="error help-block">Field is Required</em>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group" [ngClass]="{ 'has-error': submittedWorking && weF.company.errors }">
                  <label for="subject" class="required">Công ty</label>
                  <input type="text" id="subject" class="form-control" placeholder="VD: JuniorViec" formControlName="company">
                  <div *ngIf="submittedWorking && weF.company.errors">
                    <em *ngIf="weF.company.errors.required" class="error help-block">Field is Required</em>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" formGroupName="timeWorkingAt">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="required" for="fromMonth">Từ tháng</label>
                    </div>
                  </div>
                  <month-year-picker formControlName="fromMonth"></month-year-picker>
                </div>
              </div>
              <div class="col-md-6" *ngIf="!twaF.isCurrentJob.value">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="required" for="toMonth">Đến tháng</label>
                    </div>
                  </div>
                  <month-year-picker formControlName="toMonth"></month-year-picker>
                </div>
              </div>
              <div class="col-xs-12">
                 <label class="no-work-experience"><input type="checkbox" formControlName="isCurrentJob"> Công việc hiện tại</label>
              </div>

              <div class="col-xs-12" [ngClass]="{ 'has-error': submittedWorking && timeWorkingAt.errors }" *ngIf="submittedWorking && timeWorkingAt.errors">
                <em *ngIf="timeWorkingAt.errors.fromRequired" class="error help-block">The from month field is required</em>
                <em *ngIf="timeWorkingAt.errors.toRequired" class="error help-block">The to month field is required</em>
                <em *ngIf="timeWorkingAt.errors.difference" class="error help-block">The from month must be before to month</em>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="subject">Thông tin bổ sông</label>
                  <textarea
                    class="textarea"
                    placeholder="Thông tin chi tiết quá trình học tập, hoạt động ngoại khóa... (nếu có)"
                    rows="4"
                    formControlName="additionalInformation">
                  </textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <hr>
                <div class="pull-right">
                  <button type="button" class="btn btn-defaut bg-white mr-2" (click)="eplHistoryModal.hide()"><i class="fa fa-times-circle" aria-hidden="true"></i> Huỷ</button>
                  <button type="submit" class="btn btn-defaut bg-submit">
                    <i *ngIf="!isSubmittingWorking" class="fa fa-check-circle" aria-hidden="true"></i>
                    <i *ngIf="isSubmittingWorking" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    Cập nhật
                  </button>
                </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Add Employment History -->

  <!-- Confirm Delete workingExperience modal dialog -->
    <confirm-dialog
      #deleteWorkingDialog
      [config]="{title: 'userProfile.titleDeleteWorking', description: 'userProfile.descriptionDeleteWorking'}"
      (handleConfirm)="handleConfirm($event)">
    </confirm-dialog>
  <!-- End Confirm Delete workingExperience modal dialog -->
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
