<div class="title-image joblist style2">
<app-header></app-header>

<!-- Page Title-->
<div class="container-fluid green-banner page-title bg-image">
  <div class="row section-title">
    <div class="container main-container">

    </div>
  </div>
  <div class="row section-jobcategories">
    <div class="container main-container">
      <div class="col-lg-12">
        <ul class="top_filters">
          <li><input type="checkbox" name="freelance"/><label>Freelance</label></li>
          <li><input type="checkbox" name="Partytime"/><label>Partytime</label></li>
          <li><input type="checkbox" name="Contract"/><label>Contract</label></li>
          <li><input type="checkbox" name="Internship"/><label>Internship</label></li>
        </ul>
      </div>
    </div>
  </div>

</div>
<!-- Page Title-->

<!-- Job Results -->
<div class="container main-container">
  <div class="col-lg-12">
    <div class="jobs-result">
      <!--Search Result 01-->
      <div class="jobs list-style2">
        <div class="filter-result 01">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>IT Systems Support Engineer, MS Office</h3></a>
              <h4>School of Design and Multimedia</h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-partytime ">Party time</span>
              <ul>
                <li>Los Angeles</li>
                <li>£10 - £12 an hour</li>
                <li>3-5 years experience  </li>
              </ul>
            </div>
          </div>

        </div>
        <!--jobs result-->
        <div class="filter-result 01">
          <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>Program developer</h3></a>
              <h4> Java, J2EE, JSP, HTML, JavaScript, PL/SQL</h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-internship">Internship</span>
              <ul>
                <li>Los Angeles</li>
                <li>£10 - £12 an hour</li>
                <li>3-5 years experience  </li>
              </ul>
            </div>
          </div>

        </div>
        <!--jobs result-->
        <div class="filter-result 01">
          <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>Senior Java Developer</h3></a>
              <h4> Java, J2EE, JSP, HTML, JavaScript, PL/SQL</h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-fulltime ">Full time</span>
              <ul>
                <li>New York</li>
                <li>£10,000 - £12,000</li>
                <li>3-5 years experience  </li>
              </ul>
            </div>
          </div>

        </div>
        <!--jobs result-->
        <div class="filter-result 01">
          <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>Interaction Designer </h3></a>
              <h4>School of Design and Multimedia</h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-contract ">Contract</span>
              <ul>
                <li>Los Angeles</li>
                <li>£50 k - £92 k</li>
                <li>2 years experience  </li>
              </ul>
            </div>
          </div>

        </div>
        <!--jobs result-->
        <div class="filter-result 01">
          <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>Front End Developer </h3></a>
              <h4>C, C#, C++, Java, or other comparable languages </h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-partytime ">Party time</span>
              <ul>
                <li>Los Angeles</li>
                <li>£10 - £12 an hour</li>
                <li>5 years experience  </li>
              </ul>
            </div>
          </div>

        </div>
        <!--jobs result-->
        <div class="filter-result 01">
          <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>Senior UX Designer </h3></a>
              <h4>Photoshop, Illustrator</h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-fulltime">Full time</span>
              <ul>
                <li>Los Angeles</li>
                <li>£10 - £12 an hour</li>
                <li>4 years experience  </li>
              </ul>
            </div>
          </div>

        </div>
        <!--jobs result-->
        <div class="filter-result 01">
          <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>Program developer</h3></a>
              <h4>C, C#, C++, Java, or other comparable languages   </h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-contract ">Contract</span>
              <ul>
                <li>Los Angeles</li>
                <li>£10 - £12 an hour</li>
                <li>3-5 years experience  </li>
              </ul>
            </div>
          </div>

        </div>
        <!--jobs result-->
        <div class="filter-result 01">
          <div class="  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="company-left-info pull-left">
              <img src="assets/images/company-logo.png" alt=""/>
            </div>
            <div class="desig">
              <a routerLink="/jobs/:id"><h3>Technical Consultant (BPM system  integration, JEE) </h3></a>
              <h4>School of Design and Multimedia</h4>
            </div>

            <div class="job-footer">
              <span class="label job-type job-contract ">Contract</span>
              <ul>
                <li>Los Angeles</li>
                <li>£10 - £12 an hour</li>
                <li>3-5 years experience  </li>
              </ul>
            </div>
          </div>

        </div>

        <div class="clearfix"></div>
        <div class="col-lg-12">
          <button class="btn btn-default dropdown-toggle" type="button" id="load_more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Show more Jobs <span class="glyphicon glyphicon-menu-down"></span>
          </button>     </div>

      </div>
      <!--Search Result 01-->
    </div>
  </div>
</div>
<!-- Job Results -->

<!--Blue Secions --> <div class="container-fluid green-banner">
  <div class="row">
    <div class="container main-container v-middle" id="style-2">
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12  ">
        <h3 class="white-heading">Got a question?<span class="call-us">send us an email or <strong>call us at 1 (800) 555-5555</strong></span></h3>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <a href="#" class="btn btn-getstarted bg-red">get started now</a>
      </div>
    </div>
  </div>
</div>
<!--blue Section -->

<app-footer></app-footer>
</div>
