<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="page-job-alert container ">
  <div class="row">
    <div class="col-md-12">
      <div class="page-job-alert__alerts">
        <div class="box box-lg">
          <div class="row">
            <div class="col-md-6">
              <h1 class="text-primary">Thông Báo Việc Làm</h1>
            </div>

            <div class="col-md-6 text-right btn-mobile-box">
              <a class="btn-create-job-alert clickable" (click)="openModal()">
                <span class="icon-plus-circle-blue m-r-xs">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z"></path>
                  </svg>
                </span>
                <span class="btn-label text-light">Tạo Thông Báo Việc Làm</span>
              </a>
            </div>
          </div>

          <!-- Modal Add Education History -->
          <div bsModal #notificationAlert="bs-modal" class="modal modal-dialog-centered fade" tabindex="-1" role="dialog"
            aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header border-option">
                  <p class="confirm-title">Thông báo việc làm</p>
                </div>

                <div class="modal-body">

                  <div class="row">
                    <div class="col-md-12">
                      <label for="subject" class="required">Tên việc làm</label>
                      <input type="text" class="form-control"placeholder="VD: Developer, UI/UX Designer">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label for="subject" class="required">Cấp bậc</label>
                      <ng-select 
                        class="formControl" 
                        [items]="level" 
                        bindLabel="name" 
                        bindValue="id" 
                        [addTag]="addCustomUser"
                        [multiple]="false" 
                        placeholder="Vui lòng chọn trình độ tốt nghiệp" 
                        [(ngModel)]="selectedLevelIds">
                      </ng-select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label for="subject" class="required">Khu vực</label>
                      <ng-select 
                        class="formControl" 
                        [items]="area" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                        placeholder="+ Thêm khu vực" 
                        [(ngModel)]="selectedCityIds">
                      </ng-select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label for="subject" class="required">Ngành nghề</label>
                      <ng-select 
                        class="formControl" 
                        [items]="career" 
                        bindLabel="name" 
                        bindValue="id" 
                        [multiple]="true"
                        placeholder="+ Thêm ngành nghề" 
                        [(ngModel)]="selectedCareerIds">
                      </ng-select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label for="subject" class="required">Mức lương</label>
                      <input type="text" class="form-control" placeholder="VD: 300$, 500$, 1000$...">
                      <p class="help-block">(USD/tháng)</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <label for="subject" class="required">Nhận thông báo</label>
                      <div class="option-notification">
                        <div class="col-md-6">
                          <input type="radio" name="every notification" value="every-day" />
                          <label for="every-day"> Hàng ngày</label>
                        </div>

                        <div class="col-md-6">
                          <input type="radio" name="every notification" value="every-week" />
                          <label for="every-week"> Hàng tuần</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr>
                  
                  <div class="row">
                      <div class="col-md-12">
                        <div class="pull-right">
                          <button type="button" class="btn btn-defaut bg-white mr-2" (click)="decline()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i> 
                            {{ 'common.btnCancel' | translate }}
                          </button>
                          <button type="submit" class="btn btn-defaut bg-submit">
                            <i  class="fa fa-check-circle" aria-hidden="true"></i>
                            {{ 'common.btnUpdate' | translate }}
                          </button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Add Education History -->


        <!-- show item notification alert -->
        <!-- <div class="res-table">
            <div class="res-table__row row">
              <div class="col-md-8 alert-item">
                <div class="name">Junior</div>
                <div class="text-light criteria">
                  <span>
                    <span class="location">Đà Nẵng, Hồ Chí Minh</span>
                    <span class="separator hidden-sm hidden-xs">-</span>
                  </span>
                  <span>
                    Kiến trúc/Thiết kế nội thất , IT - Phần mềm
                    <span class="level">
                      <span class="separator hidden-sm hidden-xs">-</span>
                      <span>Nhân viên</span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="col-md-1 interval">
                <div class="text-light">
                  Nhận
                  <span class="hidden-md hidden-lg">:</span>
                </div>
                <div class="text-strong">Hàng tuần</div>
              </div>
              <div class="col-md-1 last-update">
                <div class="text-light">
                  Ngày cập nhật
                  <span class="hidden-md hidden-lg">:</span>
                </div>
                <div class="text-strong">10-08-2018</div>
              </div>
              <div class="col-md-1 view">
                <a routerLink="/" class="btn btn-outline btn-primary">Xem việc phù hợp</a>
              </div>
              <div class="col-md-1 actions">
                <div class="dropdown">
                  <span class="icon-dots-more" data-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.5 8.5">
                      <circle cx="4.25" cy="4.25" r="4.25"></circle>
                      <circle cx="18.75" cy="4.25" r="4.25"></circle>
                      <circle cx="33.25" cy="4.25" r="4.25"></circle>
                    </svg>
                  </span>
                  <ul class="dropdown-menu">
                      <li>
                        <a class="clickable edit-alert">
                          <span class="sprite icon-edit"></span>
                          <span>Sửa</span>
                        </a>
                      </li>
                      <li>
                        <a class="clickable delete-alert">
                          <span class="sprite icon-trash"></span>
                          <span>Xoá</span>
                        </a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div> -->
        <!-- show item notification alert -->
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->