<!-- Header Section -->
<app-header></app-header>
<!-- Header Section -->
<div class="company-container header_area">
  <div class="container-fluid">
    <div class="row">
      <div class=" items-grid clear-custom">
        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f1.png" alt="">
            <h3 class="article__title">Powerful Theme Panel</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f2.png" alt="">
            <h3 class="article__title">WPBakery Page Builder</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f4.png" alt="">
            <h3 class="article__title">One click Installer</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f3.png" alt="">
            <h3 class="article__title">Shopping</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f1.png" alt="">
            <h3 class="article__title">Powerful Theme Panel</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f2.png" alt="">
            <h3 class="article__title">WPBakery Page Builder</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f4.png" alt="">
            <h3 class="article__title">One click Installer</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f3.png" alt="">
            <h3 class="article__title">Shopping</h3>
          </div>
        </div>
        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f1.png" alt="">
            <h3 class="article__title">Powerful Theme Panel</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f2.png" alt="">
            <h3 class="article__title">WPBakery Page Builder</h3>
          </div>
        </div>

        <div class="col-md-2">
            <div class="article box-shadow">
              <img src="images/f1.png" alt="">
              <h3 class="article__title">Powerful Theme Panel</h3>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="article box-shadow">
              <img src="images/f2.png" alt="">
              <h3 class="article__title">WPBakery Page Builder</h3>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="article box-shadow">
              <img src="images/f4.png" alt="">
              <h3 class="article__title">One click Installer</h3>
            </div>
          </div>
  
          <div class="col-md-2">
            <div class="article box-shadow">
              <img src="images/f3.png" alt="">
              <h3 class="article__title">Shopping</h3>
            </div>
          </div>
          <div class="col-md-2">
              <div class="article box-shadow">
                <img src="images/f1.png" alt="">
                <h3 class="article__title">Powerful Theme Panel</h3>
              </div>
            </div>
    
            <div class="col-md-2">
              <div class="article box-shadow">
                <img src="images/f2.png" alt="">
                <h3 class="article__title">WPBakery Page Builder</h3>
              </div>
            </div>
    
            <div class="col-md-2">
              <div class="article box-shadow">
                <img src="images/f4.png" alt="">
                <h3 class="article__title">One click Installer</h3>
              </div>
            </div>
    
            <div class="col-md-2">
              <div class="article box-shadow">
                <img src="images/f3.png" alt="">
                <h3 class="article__title">Shopping</h3>
              </div>
            </div>
            <div class="col-md-2">
                <div class="article box-shadow">
                  <img src="images/f1.png" alt="">
                  <h3 class="article__title">Powerful Theme Panel</h3>
                </div>
              </div>
      
              <div class="col-md-2">
                <div class="article box-shadow">
                  <img src="images/f2.png" alt="">
                  <h3 class="article__title">WPBakery Page Builder</h3>
                </div>
              </div>
      
              <div class="col-md-2">
                <div class="article box-shadow">
                  <img src="images/f4.png" alt="">
                  <h3 class="article__title">One click Installer</h3>
                </div>
              </div>
      
              <div class="col-md-2">
                <div class="article box-shadow">
                  <img src="images/f3.png" alt="">
                  <h3 class="article__title">Shopping</h3>
                </div>
              </div>
              <div class="col-md-2">
                  <div class="article box-shadow">
                    <img src="images/f1.png" alt="">
                    <h3 class="article__title">Powerful Theme Panel</h3>
                  </div>
                </div>
        
                <div class="col-md-2">
                  <div class="article box-shadow">
                    <img src="images/f2.png" alt="">
                    <h3 class="article__title">WPBakery Page Builder</h3>
                  </div>
                </div>
        
                <div class="col-md-2">
                  <div class="article box-shadow">
                    <img src="images/f4.png" alt="">
                    <h3 class="article__title">One click Installer</h3>
                  </div>
                </div>
        
                <div class="col-md-2">
                  <div class="article box-shadow">
                    <img src="images/f3.png" alt="">
                    <h3 class="article__title">Shopping</h3>
                  </div>
                </div>
        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f4.png" alt="">
            <h3 class="article__title">One click Installer</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f3.png" alt="">
            <h3 class="article__title">Shopping</h3>
          </div>
        </div>
        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f5.png" alt="">
            <h3 class="article__title">Front-end Submissions</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f6.png" alt="">
            <h3 class="article__title">Paid or Free Listings</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f7.png" alt="">
            <h3 class="article__title">Social Media Login</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f8.png" alt="">
            <h3 class="article__title">High Performance</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f9.png" alt="">
            <h3 class="article__title">Fully responsive</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f10.png" alt="">
            <h3 class="article__title">Most Intelligent Search</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f11.png" alt="">
            <h3 class="article__title">Translation Ready</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img class="image-shape" src="images/f13.png" alt="">
            <h3 class="article__title">Favourite Listings</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f12.png" alt="">
            <h3 class="article__title">Pricing Tables</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f14.png" alt="">
            <h3 class="article__title">SEO Optimized</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f15.png" alt="">
            <h3 class="article__title">Advanced Typography</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f16.png" alt="">
            <h3 class="article__title">Friendly Support</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f17.png" alt="">
            <h3 class="article__title">Detailed Documentation</h3>
          </div>
        </div>

        <div class="col-md-2">
          <div class="article box-shadow">
            <img src="images/f18.png" alt="">
            <h3 class="article__title">Browser Compatible</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->