<!-- Header Section -->
<app-header></app-header>
<!-- Header Section -->

<div class="container-fluid company-container header_area">
    <div class="title-box">
        <h2 class="title-center">Our awesome companies</h2>
        <p class="description text-center">Following are more key companies which will make JuniorViec Listing famous in the online market.</p>
    </div>
    <div class="row">
        <div class="items-grid">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let company of companies">
                <company-item [company]="company"></company-item>
            </div>
        </div>
    </div>
</div>

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->