// header not login
.pages .navbar {
    background: #12cd6a;
}

.navbar-fixed-top {
    padding: 0 0;
}

#header .collapse {
    padding-top: 6px;
}

.logo {
    margin-top: 8px;
}

.nav {
    padding-left: 16px;
    a {
        color: #fff;
        font-size: 15px;
        text-transform: none;
        &:hover {
            color: #0e974e;
        }
    }
}

.nav>li a {
    padding: 13px;
}

.nav>li:hover a,
.nav>li>a:focus,
.nav>li>a:hover,
.nav li.active a {
    color: #e9e9e9;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.navbar-nav {
    padding-top: 2px;
    padding-bottom: 8px;
}

.logins {
    padding-top: 0
}

@mixin cancel {
    background: none;
    border: none;
    border-radius: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-right: 0;
    padding: 0;
    color: #12cd6a;
    width: auto;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}

button.navbar-toggle.flag-mobile {
    background: none;
    padding: 4px 1px;
    margin-right: 10px;
}

@media (max-width: 1360px) {
    .top_header .nav>li a {
        padding: 12px 10px;
    }
    .navbar-nav {
        padding-top: 2px;
        padding-bottom: 10px;
    }
}

@media (min-width: 319px) and (max-width: 1200px) {
    .logo {
        padding-top: 2px;
    }
    .showSearchBtn {
        display: block;
    }
    .navbar-nav {
        width: 100%;
        text-align: center
    }
    .nav>li {
        border-bottom: 1px solid #d6d6d6
    }
    .nav>li:last-child {
        border: medium none
    }
    .navbar-nav>li .dropdown-menu {
        text-align: center;
        width: 100%;
        a {
            font-size: 14px;
        }
    }
    .carousel-fix-he{
        margin-top: 44px
    }
}

@media (min-width: 210px) and (max-width: 320px) {
    .logo {
        width: 146px;
    }
    .navbar-nav {
        width: 100%;
        text-align: center
    }
    .navbar-nav>li .dropdown-menu {
        text-align: center;
        width: 100%;
        a {
            font-size: 14px;
        }
    }
}

//header login
.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-company-w {
    margin-bottom: 35px;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    position: relative;
}

.title-company-w:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 75px;
    height: 3px;
    background: #12cd6a;
}

.bottom-slider {
    z-index: 3;
    position: relative;
    border-top: 5px solid #12cd6a;
    border-bottom: 1px solid #eaeaea;
    background-color: #FFF;
    padding: 10px 0;
    .info-block {
        p {
            color: #55bce7;
            font-weight: 700;
            margin: 2px 0 1px;
            text-transform: uppercase;
        }
        h3 {
            font-size: 30px;
            margin: 0 0 2px;
            color: #fff;
        }
    }
}

.pt-25 {
    padding-top: 25px;
}

.fs-20 {
    font-size: 21px;
    color: #000;
    text-align: left;
}

.fs-16 {
    font-size: 15px;
}

.media-heading {
    margin-top: 10px;
    margin-bottom: 8px;
}

.avatar>img {
    max-width: 250px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

#introduce-company {
    background-color: #fff;
}

.py-130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pt-20 {
    padding-top: 20px
}

.pb-10 {
    padding-bottom: 10px
}

.img-company>img {
    max-width: 100%;
    height: 250px;
}

#images-company {
    border-bottom: 1px solid #eaeaea;
}

::-webkit-input-placeholder {
    color: #FFF;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #FFF;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFF;
}

:-ms-input-placeholder {
    color: #FFF;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 770px) and (max-width: 1200px) {
    .bottom-slider {
        .info-block {
            p {
                font-size: 18px;
            }
            h3 {
                font-size: 28px;
                margin: 0 0 2px;
                color: #fff;
            }
        }
    }
    .about {
        .heading-about {
            margin-top: 40px;
            h2 {
                font-size: 130px;
            }
            h4 {
                font-size: 38px;
            }
            h3 {
                font-size: 50px;
            }
            p {
                font-size: 18px;
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 769px) {
    .bottom-slider {
        .info-block {
            p {
                font-size: 15px;
            }
            h3 {
                font-size: 20px;
                margin: 0 0 2px;
                color: #fff;
            }
        }
    }
    .about {
        .heading-about {
            margin-top: 20px;
            h2 {
                font-size: 100px;
            }
            h4 {
                font-size: 30px;
            }
            h3 {
                font-size: 51px;
            }
            p {
                font-size: 16px;
                margin-top: 40px;
            }
        }
    }
    .main-contact-form {
        .form-contact {
            .form-group {
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .bottom-slider {
        .info-block {
            p {
                font-size: 15px;
            }
            h3 {
                font-size: 20px;
                margin: 0 0 2px;
                color: #fff;
            }
        }
    }
    .about {
        .heading-about {
            margin-top: 20px;
            h2 {
                font-size: 72px;
                margin: 20px -19px 13px -4px;
            }
            h4 {
                font-size: 24px;
            }
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 16px;
                margin-top: 30px;
            }
        }
    }
    .main-contact-form {
        .contact-header {
            h5 {
                width: 100%;
                height: auto;
                font-size: 28px;
            }
            h4 {
                width: 100%;
                height: auto;
                font-size: 35px;
            }
        }
        .form-contact {
            .form-group {
                margin-bottom: 10px;
            }
        }
    }
}