<div id="header" class="container-fluid pages">
  <div class="row">
    <!-- Header Image Or May be Slider-->
    <div class="top_header">
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="logo">
            <a routerLink="/">
              <img src="../../../assets/images/logoEmployer.png" alt="Photo" />
            </a>
          </div>

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <a href="#info-company">{{'company.information' | translate}}</a>
              </li>
              <li>
                <a href="#recruitment-company">{{'company.joblist' | translate}}</a>
              </li>
              <li>
                <a href="#introduce-company">{{'company.introduction' | translate}}</a>
              </li>
              <li>
                <a href="#images-company">{{'company.photos' | translate}}</a>
              </li>
            </ul>
          </div>
          <!-- navbar-collapse -->
        </div>
        <!-- container-fluid -->
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid main-container">
  <carousel>
    <slide class="carousel-fix-he">
      <img src="{{ company.coverURL | photoURLConverter:'assets/images/banner.png' }}" style="display: block; width: 100%;" class="img-responsive">
    </slide>
  </carousel>

  <section id="info-company" class="bottom-slider py-100">
    <div class="container">
      <div class="row media">

        <div class="media-left col-md-3 col-sm-6">
          <div class="avatar">
            <!-- <img src="https://cdn1.mywork.com.vn/company-logo-medium/102018/10a072eb032fac5febce029ee8cec33d.png" class="media-object" alt="Công ty TNHH LOGIFORM" width="100%"> -->
            <img src="{{ company.logoURL | photoURLConverter:'/assets/images/company-logo.png' }}" alt="">
          </div>
        </div>
        <div class="col-md-9 col-sm-6 mt-20">
          <h4 class="media-heading fs-20 ">{{'company.company' | translate}} {{ company.name || ''}}</h4>
          <p class="help-block fs-16"><i class="glyphicon glyphicon-map-marker"></i> {{'company.address' | translate}}: {{ company.address || ''}}</p>
          <p class="help-block fs-16"><i class="glyphicon glyphicon-envelope"></i> {{'company.email' | translate}}: {{ company.email || ''}}</p>
          <p class="help-block fs-16"><i class="glyphicon glyphicon-earphone"></i> {{'company.phoneNumber' | translate}}: <a href="tel:+{{ company.phoneNumber || ''}}">{{ company.phoneNumber || ''}}</a></p>
          <p class="help-block fs-16"><i class="glyphicon glyphicon-globe"></i> {{'company.website' | translate}}: <a href="{{ company.website || ''}}" target="_blank">{{ company.website || ''}}</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="recruitment-company">
    <div class="container">
      <div class="row">
        <div class="jobs-result">
          <!--Search Result 01-->
          <div class="col-md-12">
            <h3 class="title-company-w fs-20">
              {{'company.joblist' | translate}}
            </h3>
            <p *ngIf="!isLoadJob && !jobs || !isLoadJob && 
            !jobs.length">
              {{ 'company.no_jobs_found' | translate}}
            </p>
            <div class="col-md-12 ">
              <ng-template ngFor let-job [ngForOf]="jobs">
                <app-job-item [job]="job" [showCompanyName]="false"></app-job-item>
              </ng-template>
              <div class="clearfix"></div>
              <div class="col-lg-12 loader-wrapper">
                <div class="loadessr blur-loading" style="background: transparent" *ngIf="isLoadJob">
                  <div class="loader">
                  </div>
                </div>
                <button [style.visibility]="hideShowMoreButton ?  'hidden' : 'visible'" class="btn btn-default" id="load_more" type="button" (click)="loadMoreJob()">
                  {{ 'company.loadmore_jobs' | translate }}<span class="glyphicon glyphicon-menu-down"></span>
                </button>
              </div>
            </div>
            <!--jobs result-->
          </div>
          <!--Search Result 01-->
        </div>
      </div>
    </div>

  </section>
  <section id="introduce-company" class="pt-20 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-company-w fs-20">{{'company.introduction' | translate}}</h3>
        </div>
        <div class="col-md-7 fs-16" [innerHtml]="company.description || 'There is no information!'">
        </div>
        <div class="col-md-5">
          <img src="https://brand.mywork.com.vn/img/intro/2.jpg" style="width: 100%; border-radius: 3px;">
        </div>

      </div>
    </div>
  </section>
  <section id="images-company" class="pt-20 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title-company-w fs-20">{{'company.photos' | translate}}</h3>
        </div>
        <div class="mb-20 col-md-4 img-company">
          <img src="https://brand.mywork.com.vn/img/office/14.jpg">
        </div>
        <div class="mb-20 col-md-4 img-company">
          <img src="https://brand.mywork.com.vn/img/office/13.jpg">
        </div>
        <div class="mb-20 col-md-4 img-company">
          <img src="https://brand.mywork.com.vn/img/office/12.jpg">
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
