.lost-password .row {
    position: relative;
}
.lost-password .requested strong {
    color: #ffff00;
}
#loadessr {
    background-color: rgba(217,217,217,0.3);
    z-index: 1;
}

@media (min-width: 991px) {
    #lost-password form {
        margin-left: -15%;
    }
}
