.lost-password .row {
  position: relative;
}

.lost-password .requested strong {
  color: #ffff00;
}

.wrapper-reset-password {
  .submit {
    width: initial;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: none;
    font-size: 14px;
    background: #333;
    text-transform: uppercase;
    padding: 18px 46px;
    color: #fff;
    text-decoration: none;
    border-radius: 33px;
    outline: none;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    -ms-border-radius: 33px;
    -o-border-radius: 33px;
}
}

#loadessr {
  background-color: rgba(217, 217, 217, 0.3);
  z-index: 1;
}

@media (min-width: 991px) {
  #lost-password form {
      margin-left: -15%;
  }
}