<!-- Header Section -->
<app-header></app-header>
<!-- Header Section -->

<!--content lost_password-->
<div class="container-fluid lost-password header_area deximJobs_tabs">
    <div class="row">
        <div id="loadessr" *ngIf="loading">
          <div id="loader">
          </div>
        </div>
      <div class="container main-container">
        <div class="col-lg-offset-1 col-lg-11 col-md-12 col-sm-12 col-xs-12" *ngIf="!requested">
          <ul class="nav nav-pills ">
            <li class="active">
              <a data-toggle="tab">Lost Password ?</a>
            </li>
          </ul>
  
          <div class="tab-content">
            <div id="lost-password" class="white-text">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding-left">
                <p class="description">
                  Lost your password?
                  <br />Please enter your email address.
                  <br />You will receive a link to create a new password via email.</p>
                <form name="contact_us"
                      class="contact_us validation-form"
                      [formGroup]="lostPasswordForm"
                      (ngSubmit)="sendLostPasswordEmail()">
  
                  <div class="form-group global-error"
                       *ngIf="hasServerError">
                    <label></label>
                    <div class="error-input">
                        <div >
                            {{globalError}}
                        </div>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <label>Email</label>
                    <div class="input-container">
                      <input type="text"
                             name="name"
                             formControlName="email"
                             [class.has-error]="submitted && f.email.errors">
                      <div *ngIf="lostPasswordForm.invalid"
                              class="error-input">
                              <div *ngIf="submitted && f.email.errors?.required">
                                Email required
                              </div>
                              <div *ngIf="submitted && f.email.errors?.email">
                                Invalid email
                              </div>
                              <div *ngIf="submitted && f.email.errors?.nonExisted">
                                There is no account for this email.
                              </div>
                        </div>
                  </div>
                  </div>
  
  
                  <div class="form-group submit">
                    <label>Submit</label>
                    <input type="submit" name="submit" value="Reset Password" class="submit" id="submit">
                  </div>
                </form>
              </div>
  
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12  pull-right sidebar">
                <div class="widget">
                  <h3>Don't have an account?</h3>
                  <ul>
                    <li>
                      <p> If you'd like to find out more about how Jobsite can help you with your recruitment needs, please complete
                        this enquiry form.</p>
                    </li>
                    <li>
                      <p>A member of our Sales team will contact you shortly.</p>
                    </li>
                    <li>
                      <a routerLink="/register" class="label job-type register" id="register">Register</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="requested col-lg-offset-1 col-lg-11 col-md-12 col-sm-12 col-xs-12" *ngIf="requested">
            <p>An reset password email has been sent to address <strong>{{givenEmail}}</strong> if it's correct.</p>
            <div _ngcontent-c1="" class="col-xs-4 widget">
              <a _ngcontent-c1="" class="label signin" routerlink="/login" value="login" ng-reflect-router-link="/login" href="/login">Sign in</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  
<!--content lost_password-->

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->