.image-preview img {
    width: 100%;
    height:100%;
    position: relative;
}
.upload {
    position: relative;
}
input[type="file"] {
    display: none;
}
.btn-upload {
    margin-top: 7%;
    margin-left: 5px;
}
.upload {
    position: relative;
}
.image-preview:hover .bg-change {
    visibility: visible;
    opacity: 0.7;
}
.image-preview:hover .change-image {
    visibility: visible;
    opacity: 1;
    
}
.image-preview .bg-change {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    background-color: black;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
}
.image-preview .change-image {
    visibility: hidden;
    position: absolute;
    top: 35%;
    right: 40%;
    z-index: 3;
}
.image-preview .change-image span.glyphicon{ 
    border-radius: 50%;
    padding: 20px;
    border: 2px solid white;
}
.image-preview + .controls {
    margin-top: 6%;
}
.controls .error {
    color: red;
font-size: 15px;
margin: 5px 10px;
}

@media screen and (max-width: 768px) {
    .image-preview .bg-change { 
        opacity: 1;
        background-color: transparent;
    }
    .image-preview .change-image {
        visibility: visible;
        top: -13px;
        right: 5px;
        opacity: 1;
    }
    .image-preview .change-image span.glyphicon {
        border-color: #12cd6a;
        color: #12cd6a;
        background-color: white;
        padding: 5px;
        font-size: 12px;
    }
}
