.wraper-content {
  padding-top: 147px;
  .custom {
    .wrapper-image{
      align-items: center;
      margin: 30px 0 20px 0;
      .reset-icon {
        width: 160px;
        height: 160px;
      }
    }
    .wrapper-text {
      margin: 0 0 20px 0;
      .title-highlight {
        text-align: center;
        font-weight: 400;
        color: #333;
        font-size: 22px;
      }
      .text-guide {
        text-align: center;
        color: rgba(51, 51, 51, 0.5);
        font-size: 14px;
      }
    }
    .lbl-change-pasword {
      color: rgba(51, 51, 51, 0.5);
      padding: 10px 0 5px 0;
      font-size: 14px;
    }
    .btn-save{
      background-color: #42cd6a;
      color: #fff;
      width: 100%;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 32px;
      padding: 2px 20px;
      border: 2px solid transparent;
      border-radius: 7px  ;
      -webkit-border-radius: 7px  ;
      -moz-border-radius: 7px  ;
      -ms-border-radius: 7px  ;
      -o-border-radius: 7px  ;
      &:hover{
        background-color: #35a354;
      }
    }
    text-align: center;
    padding: 20px;
    border-radius:8px;
    border: 1px solid transparent;
    box-shadow: 0px 10px 27px 0px rgba(154, 161, 171, 0.19);
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
  }
}
@media (min-width: 1281px) {
  .wraper-content {
    padding-top: 147px;
    .custom {
      margin:20px 200px 0 200px;
      .btn-save {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .wraper-content {
    padding-top: 147px;
    .custom {
      margin:20px 80px 0 80px;
      .btn-save {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wraper-content {
    padding-top: 147px;
    .custom {
      margin:20px 60px 0 60px;
      .btn-save {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .wraper-content {
    padding-top: 147px;
    .custom {
      margin:20px 40px 0 40px;
      .btn-save {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .wraper-content {
    padding-top: 147px;
    .custom {
      margin:10px 10px 0 10px;
      .btn-save {
        margin-top: 20px;
      }
    }
  }
}