<user-header></user-header>

<div class="container wraper-content">
  <div class="ibox">
    <div class="ibox-content fadeInRight animated">
      <div class="row loader-wrapper">
        <div class="loadessr blur-loading" *ngIf="loading">
          <div class="loader"></div>
        </div>

        <div class="panel panel-default custom">
          <div class="wrapper-image">
            <img class="reset-icon" src="../../../../assets/images/reset-password.png">
          </div>

          <div class="wrapper-text">
            <p class="title-highlight">{{ 'changePassword.title' | translate }}</p>
            <p class="text-guide">{{ 'changePassword.guideText' | translate }}</p>
          </div>

          <form 
            [formGroup]="changePasswordFormGroup" 
            class="contact_us validation-form"
            (ngSubmit)="submitChangePassword()">

            <div class="form-group required">
              <label class="lbl-change-pasword" for="oldPassword">{{ 'changePassword.oldPassword' | translate }}</label>
              <div class="input-container">
                <span [ngClass]="
                  showPassword 
                  ? 'glyphicon glyphicon-eye-open' 
                  : 'glyphicon glyphicon-eye-close'" (click)="toggle()"></span>
                <input 
                  [type]="showPassword ? 'text' : 'password'" 
                  id="oldPassword"
                  placeholder="{{ 'changePassword.placeHolderOldPass' | translate }}" 
                  formControlName="oldPassword"
                  [ngClass]="{ 
                    'has-error':
                      controls.oldPassword.errors?.minlength || (submitted && controls.oldPassword.errors)
                  }">
              </div>
              <div *ngIf="controls.oldPassword.invalid" class="error-input">
                <div *ngIf="submitted && controls.oldPassword.errors?.required">
                  {{ 'changePassword.passwordRequired' | translate }}
                </div>
                <div *ngIf="controls.oldPassword.errors.minlength">
                  {{ 'changePassword.passwordAtLeast' | translate }}
                  {{ controls.oldPassword.errors?.minlength.requiredLength}}
                  {{ 'changePassword.character' | translate }}
                </div>
              </div>

              <div class="form-group global-error" [style.display]="hasServerError ? '' : 'none'">
                <div class="error-input" *ngIf="submitted">
                  <div *ngIf="submitted && changePasswordFormGroup.errors?.serverError">
                    {{ changePasswordFormGroup.errors?.serverError }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group required">
              <label class="lbl-change-pasword" for="password">{{ 'changePassword.newPassword' | translate }}</label>
              <div class="input-container">
                <span [ngClass]="
                  showPassword 
                  ? 'glyphicon glyphicon-eye-open' 
                  : 'glyphicon glyphicon-eye-close'" (click)="toggle()"></span>
                <input 
                  [type]="showPassword ? 'text' : 'password'" 
                  id="password"
                  placeholder="{{ 'changePassword.placeHolderNewPass' | translate }}" 
                  formControlName="password"
                  [ngClass]="{
                  'has-error':
                    controls.password.errors?.minlength || (submitted && controls.password.errors)
                }">
              </div>

              <div *ngIf="controls.password.invalid" class="error-input">
                <div *ngIf="submitted && controls.password.errors?.required">
                  {{ 'changePassword.passwordRequired' | translate }}
                </div>
                <div *ngIf="controls.password.errors.minlength">
                  {{ 'changePassword.passwordAtLeast' | translate}}
                  {{ controls.password.errors?.minlength.requiredLength }}
                  {{ 'changePassword.character' | translate }}
                </div>
              </div>
            </div>

            <div class="form-group required">
              <label class="lbl-change-pasword" for="repeatPassword">
                {{ 'changePassword.confirmPassword' | translate}}
              </label>
              <div class="input-container">
                <span [ngClass]="
                  showPassword 
                  ? 'glyphicon glyphicon-eye-open' 
                  : 'glyphicon glyphicon-eye-close'" (click)="toggle()"></span>
                <input
                  [type]="showPassword ? 'text' : 'password'" 
                  id="repeatPassword"
                  placeholder="{{ 'changePassword.placeHolderRepeatPass' | translate }}" 
                  formControlName="repeatPassword"
                  [ngClass]="{
                    'has-error':
                      changePasswordFormGroup.errors?.matchedPassword || (submitted && controls.repeatPassword.errors)
                  }">
              </div>
             
              <div *ngIf="changePasswordFormGroup.invalid" class="error-input">
                <div *ngIf="changePasswordFormGroup.errors?.matchedPassword">
                  {{ 'changePassword.passwordNotMatch' | translate }}
                </div>
                <div *ngIf="submitted && controls.repeatPassword.errors?.required">
                  {{ 'changePassword.passwordRequired' | translate }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-save">{{ 'changePassword.confirm' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>