<user-header></user-header>
<div class="container wraper-content">
  <div class="panel panel-default custom">
    <div class="wrapper-image">
        <img class="reset-icon" src="../../../../assets/images/reset-password.png">
    </div>
    <div class="wrapper-text">
      <p class="title-highlight">Reset password</p>
      <p class="text-guide">Enter your new password below, we're just<br> being extra safe</p>
    </div>

    <form [formGroup]="changePasswordFormGroup">
      <div class="form-group">
        <label class="lbl-change-pasword required" for="oldPassword">Old Password</label>
        <input 
          type="password" 
          formControlName="oldPassword" 
          class="form-control" 
          id="oldPassword"
          placeholder="Enter old password">
      </div>

      <div class="form-group">
        <label class="lbl-change-pasword required" for="newPassword">New Password</label>
        <input 
          type="password"
          formControlName="newPassword"
          class="form-control" 
          id="newPassword" 
          placeholder="Enter new password">
      </div>
      
      <button type="submit" class="btn btn-save">Save</button>
    </form>
  </div>
</div>
<app-footer></app-footer>