<user-header></user-header>
<div class="container wraper-content">
  <div class="panel panel-default custom">
    <div class="wrapper-text">
      <p class="title-highlight">Reset password</p>
      <p class="text-guide">Enter your new password below, we're just<br> being extra safe</p>
    </div>

    <form>
      <div class="form-group">
        <label class="lbl-change-pasword" for="oldPassword">Old Password</label>
        <input type="password" class="form-control" id="oldPassword"placeholder="Enter old password">
      </div>

      <div class="form-group">
        <label class="lbl-change-pasword" for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
      </div>
      
      <button type="submit" class="btn btn-save">Save</button>
    </form>
  </div>
</div>
<app-footer></app-footer>