.navbar-fixed-top {
  padding: 0 0;
}
#header .collapse {
padding-top: 8px;
}
.logo{
padding-top: 14px;
}
.navbar-nav {
padding-top: 1px;
padding-bottom: 10px;
}
.logins {
  padding-top: 0
}

@mixin cancel {
background: none;
border: none;
border-radius: none;
font-family: OpenSansBold;
font-size: 30px;
margin-right: 0;
padding: 0;
color: #12cd6a;
width: auto;
-webkit-border-radius: none;
-moz-border-radius: none;
-ms-border-radius: none;
-o-border-radius: none;
}
.logins{
right: 0px;
>.flag
    >.cancel {
     @include cancel()  
}
>.search
    >.cancel {
     @include cancel()  
}
}
.search, 
.flag, 
.student-login,
.student-register,
.post_job,
.user-profile{
span{
  margin-top: 10px;
  margin-left: 10px;
}
}
.student-login span{
  margin-left: 20px;
}
.user-profile span {
  margin-right: 10px
}
.employer span{
  margin-left: 10px;
  background:  #12cd6a none repeat scroll 0 0;
  border-radius: 88px 0 0 88px;
  color: #fff;
  line-height: 10px;
  display: inline-block;
  padding: 6px 20px;
  width: auto;
  -webkit-border-radius: 88px 0 0 88px;
  -moz-border-radius: 88px 0 0 88px;
  -ms-border-radius: 88px 0 0 88px;
  -o-border-radius: 88px 0 0 88px;
}
.main-title{
  padding-top: 10px;
  font-size: 20px;
  font-family: OpenSansBold;
}
.title{
  font-family: sans-serif;
  font-size: 14px
}
.search-ic {
  margin-top: 8px;
  margin-right: 10px;
  border-right: 2px solid #232323;
  border-radius: 0;
  padding: 0 15px;
}

.showSearchBtn {
  display: none;
}

.textOption {
  color: #12cd6a;
  margin-left: 2px;
}

.companies-head {
  background-color: #12cd6a;
  color: #fff;
}

.companies-head:hover {
  background-color: #fff;
  color: #000;
}

.profile-head {
  background-color: #12cd6a;
  color: #fff;
  padding: auto 5px;
}

.open > .dropdown-menu {
  display: block;
  right: -10px;
  left: 200px;
}

span.label.job-type.partytime.profile-head.fa {
  font-size: 18px;
}

button.navbar-toggle.flag-mobile {
  background: none;
  padding: 4px 1px;
  margin-right: 10px;
}

@media (min-width: 319px) and (max-width: 1200px){
.logo{
  padding-top: 9px;
}
.showSearchBtn {
  display: block;
}
}
@media (min-width: 210px) and (max-width: 320px){
  .logo{
    width: 146px;
  }
}
