<div id="header" class="container-fluid pages">
  <div class="row">
    <!-- Header Image Or May be Slider-->
    <div class="top_header">
      <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="logo">
            <a routerLink="/">
              <img src="assets/images/logo2.png" alt=""/>
            </a>
          </div>
          <div class="logins">
            <a routerLink="/post-job" class="post_job">
              <span class="label job-type partytime">POST A JOB, IT’S FREE!</span>
            </a>
            <a routerLink="/login" class="login">
              <i class="fa fa-user"></i>
            </a>
          </div>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a routerLink="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home
                  <span class="sr-only">(current)</span>
                </a>
                <div class="mobile-menu add-job">
                  <a href="post-a-job.html">POST A JOB, IT’S FREE!</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jobs</a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/browse-jobs">Browse Jobs</a>
                  </li>
                  <li>
                    <a routerLink="/browse-jobs-alternative">Browse jobs alternative</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="job-style-one.html">Job Style One</a>
                  </li>
                  <li>
                    <a href="job-style-two.html">Job Style Two</a>
                  </li>
                  <li>
                    <a href="job-preview.html">Job Preview</a>
                  </li>
                  <li>
                    <a href="resume.html">Resume Page</a>
                  </li>
                  <li>
                    <a href="companies.html">Companies</a>
                  </li>
                  <li>
                    <a href="pricing_table.html">Pricing Table</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="blog.html">Blog</a>
              </li>
              <li>
                <a href="how_its_work.html">How It Works</a>
              </li>
              <li>
                <a href="contact-us.html">Contact</a>
              </li>
              <li class="mobile-menu">
                <a routerLink="/post-job">POST A JOB, IT’S FREE!</a>
              </li>
              <li class="mobile-menu">
                <a routerLink="/login">Login User</a>
              </li>
            </ul>
          </div>
          <!-- navbar-collapse -->
        </div>
        <!-- container-fluid -->
      </nav>
    </div>
  </div>
</div>
