<div id="header" class="container-fluid pages">
  <div class="row">
    <!-- Header Image Or May be Slider-->
    <div class="top_header">
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="logo">
            <a routerLink="/">
              <img src="assets/images/logo2.png" alt="Photo" />
            </a>
          </div>

          <div class="logins">
            <a href="#jobs_filters_search" class="search" id="search-icon">
              <span class="label job-type partytime cancel">
                <i class="fa fa-search search-ic" aria-hidden="true"></i>
              </span>
            </a>
            <a class="flag">
              <span class="label job-type partytime cancel">
                <img *ngIf="isEnLang" class="flag" src="../../../assets/images/vietnam-flag.png" alt="vietnamese" (click)="changeLanguage('vn')">
                <!-- if language is US -->
                <img *ngIf="!isEnLang" class="la" src="../../../assets/images/united-states-flag.png" alt="united-states" (click)="changeLanguage('en')">
              </span>
            </a>
            <!-- not logged in -->
            <a routerLink="/login" class="student-login">
              <span class="label job-type partytime">{{ 'header.login' | translate }}</span>
            </a>
            <a routerLink="/register" class="student-register">
              <span class="label job-type partytime">{{ 'header.register' | translate }}</span>
            </a>
            <a routerLink="/employer" class="employer">
              <span class="label job-type partytime Companies-head">
                <p class="main-title">{{ 'header.employer' | translate }}</p>
                <p class="title">{{ 'header.recruit' | translate }}</p>
              </span>
            </a>
            <!-- logged -->
            <!-- <a routerLink="/post-job" class="post_job">
              <span class="label job-type partytime">POST A JOB, IT’S FREE!</span>
            </a>
            <a href="#" class="dropdown-toggle user-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="label job-type partytime profile-head">
                <i class="fa fa-user"></i> Tuan
                <i style="vertical-align: top;" class="fa fa-sort-desc" aria-hidden="true"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">My Profile</a>
              </li>
              <li>
                <a href="#">My Works</a>
              </li>
              <li>
                <a href="#">Job Announcement</a>
              </li>
              <li>
                <a href="#">Companies seen</a>
              </li>
              <li>
                <a href="#">My Account</a>
              </li>
              <li>
                <a href="#">Logout</a>
              </li>
            </ul> -->
          </div>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle flag-mobile">
              <img class="flag" src="../../../assets/images/united-states-flag.png" alt="vietnamese">
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a routerLink="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'header.home' | translate }}


                  <span class="sr-only">(current)</span>
                </a>
                <div class="mobile-menu add-job">
                  <a routerLink="/post-job">Companies</a>
                </div>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'header.jobs' | translate }}</a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/browse-jobs">Browse Jobs</a>
                  </li>
                  <li>
                    <a routerLink="/browse-jobs-alternative">Browse jobs alternative</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="job-style-one.html">Job Style One</a>
                  </li>
                  <li>
                    <a href="job-style-two.html">Job Style Two</a>
                  </li>
                  <li>
                    <a href="job-preview.html">Job Preview</a>
                  </li>
                  <li>
                    <a href="resume.html">Resume Page</a>
                  </li>
                  <li>
                    <a routerLink="/list-company">Companies</a>
                  </li>
                  <li>
                    <a href="pricing_table.html">Pricing Table</a>
                  </li>
                </ul>
              </li>
              <!-- <li>
                          <a href="blog.html">Blog</a>
                      </li> -->
              <li class="showSearchBtn">
                <a href="how_its_work.html">Search jobs
                  <label class="textOption">now</label>
                </a>
              </li>
              <li>
                <a href="how_its_work.html">How It Works</a>
              </li>
              <li>
                <a href="contact-us.html">{{ 'header.contact' | translate }}</a>
              </li>

              <!-- not logged in -->
              <li class="mobile-menu">
                <a routerLink="/login">{{ 'header.login' | translate }}</a>
              </li>
              <li class="mobile-menu">
                <a routerLink="/register">{{ 'header.register' | translate }}</a>
              </li>
              <!-- logged -->
              <li class="mobile-menu">
                <a href="post-a-job.html">{{ 'header.postAJobs' | translate }}</a>
              </li>
              <li class="dropdown mobile-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tuan Quang Vo</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">My Profile</a>
                  </li>
                  <li>
                    <a href="#">My Works</a>
                  </li>
                  <li>
                    <a href="#">Job Announcement</a>
                  </li>
                  <li>
                    <a href="#">Companies seen</a>
                  </li>
                  <li>
                    <a href="#">My Account</a>
                  </li>
                  <li>
                    <a href="#">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- navbar-collapse -->
        </div>
        <!-- container-fluid -->
      </nav>
    </div>
  </div>
</div>
