.wrapper-content {
  padding-top: 147px;
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px #ccc solid;

  .user-profile-info {
    background-color: #fff;
    text-align: center;
    padding: 40px 20px;
    margin: 0 0 13px;
    border: 1px solid #e5e5e5;
  }

  .page-dashboard {
    background-color: #fff;
    border: 1px #e5e5e5 solid;

    .title {
      font-size: 22px;
      font-weight: 500;
      margin-left: 25px;
      margin-top: 30px;
      margin-bottom: 15px;
      word-spacing: 2px;
    }
  }
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px;
    background: #fff;
  }

  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 110px;
  }

  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }

  .profile-usertitle-name {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  .profile-usertitle-job {
    text-transform: uppercase;
    color: #00cb70;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap; 
    padding: 10px;
    text-align: justify
  }

  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

  .profile-userbuttons .btn:last-child {
    margin-right: 0;
  }

  .profile-usermenu {
    margin-top: 30px;
  }

  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }

  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }

  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 500;
    font-family: roboto
  }

  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }

  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #00cb70;
  }

  .profile-usermenu ul li.active {
    border-bottom: none;
  }

  .profile-usermenu ul li.active a {
    color: #00cb70;
    background-color: #f6f9fb;
    border-left: 2px solid #00cb70;
    margin-left: -2px;
  }
  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
}
