@keyframes flash {
    from {color: #12cd6a;}
    to {color:  #b9f9d7;}
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}



.flash {
    animation-name: flash;
     animation-duration: 0.2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
 }
 
.main-container {
    background-color: #fff;
}
.j-list {
    font-size: 17px;
    background-color: #fff;
}
.j-list .expiration {  
    font-size: 17px;
}
.j-list .expiration .time {
    font-size: 13px;
}
.j-title {
    font-size: 27px;
}
.j-title span {
    font-size: 17px;
    color: #b3b2b2;
    font-style: italic;
}
.j-actions a {
    font-size: 13px;
}
.j-filter-search {
    margin: 20px auto;
}
.j-export {
    margin: 20px auto;
}
.j-list .j-actions a:after {
    content: " | ";
    color: #000
}
.j-list .j-actions a:last-child:after {
    content: ""
}
.j-list span.label {
    float: none;
}
.nav>li a {
    padding: 5px 10px;
}
.btn-export { 
    margin-left: 15px;
}
.input-group {
    z-index: 0;
}
.icon-small-green {
    color: #12cd6a;
    font-size: 12px;
}
.label-orange {
    background-color: #ff8000;
   
}
.hot-job-register {
    cursor: pointer;
}
.is-registering {
    cursor: progress;
}

.hot-job-registering span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.hot-job-registering span:nth-child(2) {
    animation-delay: .2s;
}

.hot-job-registering span:nth-child(3) {
    animation-delay: .4s;
}
button {
    font-size: 13px;
    color: #12cd6a;
    background: none;
    border: none;
}
button:after {
    content: " | ";
    color: #000;
}
button:hover {
    content: " | ";
    color: #000;
}
button:focus, button:hover {
    color: #23527c;
}