<app-home-company-logged></app-home-company-logged>
<div class="container main-container header_area">
    <div class="row j-filter-search">
        <div class="col-lg-8 col-xs-12">
            <div class="tab_filters">
                <ul class="nav nav-pills">
                    <li [ngClass]="{'active': status == 'ALL'}">
                        <a routerLink="/employer/jobs/ALL">{{ 'company.jobStatus.all' |  translate}}
                        </a>
                    </li>
                    <li [ngClass]="{'active': status == 'HOTJOB'}">
                        <a routerLink="/employer/jobs/HOTJOB">{{ 'company.jobStatus.hotJob' |  translate}}
                            <span class="badge j-number">{{hotJobs.size}}</span>
                        </a>
                    </li>

                    <ng-template ngFor let-jobType [ngForOf]="typeJobs | keyValue">
                        <li [ngClass]="{'active' : status == jobType.key}">
                            <a routerLink="/employer/jobs/{{jobType.key}}">{{ jobType.key |  translate}}
                      <span class="badge j-number">{{jobType.value}}</span>
                    </a>
                        </li>
                      </ng-template>
                    
                  
                </ul>
            </div>

        </div>
        <!-- <form class="form validation-form col-lg-4 col-xs-12">
            <div class="col-lg-offset-8 ">
                <div class="input-group">
                    <input class="form-control" placeholder="Keyword, job title or skill" type="text">
                    <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </form> -->
    </div>

    <!-- <div class="row j-export">
    <button class="btn btn-default btn-export">
      <span class="glyphicon glyphicon-file icon-primary"></span>
        Export To Excel
    </button>
  </div> -->
    <div class="col-xs-12 j-list">
        <table class="j-table" id="listJobs">
            <thead class="j-table-header">
                <th class="col-xs-5">{{'company.jobListHeader.jobTitle' | translate}}</th>
                <th class="col-xs-2">{{'company.jobListHeader.status' | translate}}</th>
                <th class="col-xs-2">{{'company.jobListHeader.expires' | translate}}</th>
                <th class="col-xs-1">{{'company.jobListHeader.applications' | translate}}</th>
                <th class="col-xs-2 text-center">{{'company.jobListHeader.hotJob' | translate}}
                    <i class="fa fa-info-circle icon-small-green" data-toggle="tooltip" data-placement="bottom" [attr.data-original-title]="'tooltip.hotJob' | translate">
                    </i>
                </th>
                
            </thead>
            <tbody class="j-table-body">
                <!-- start list job -->
                <tr *ngFor="let job of listCompanyJobs">
                    <td>
                        <div>
                            <div class="j-title">
                                <a routerLink="/jobs/{{job.id}}" target="blank">{{job.title}}</a>
                            </div>
                            <div class="j-location">
                                {{job.location || "No mention location"}}
                            </div>
                            <div class="j-actions" >
                                <a routerLink="/jobs/{{job.id}}" target="_blank">{{ 'company.jobListHeader.viewOnline' | translate}}</a>
                                <a *ngIf="job.status == 'ACTIVE'" routerLink="/employer/jobs/{{job.id}}/candidates">{{ 'company.jobListHeader.viewCandidates' | translate}}</a>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div>
                            <span class="label">{{job.status}}</span>
                        </div>
                    </td>

                    <td>
                        <div class="expiration">
                            <div class="time" *ngIf="job.expiredAt != 0">{{'company.jobExpiredDate' | translate}} {{job.expiredAt | date:'dd/MM/yyyy'}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <a routerLink="/employer/jobs/{{job.id}}/candidates">{{job.students?.length}}</a>
                        </div>
                    </td>
                    <td class="text-center">
                        <div>
                        <a [class.is-registering]="isProcessingHotJob" 
                            class="hot-job-registering" 
                            *ngIf="processingPendingJobId == job.id" 
                            (click)="processingPendingJobId == job.id">
                            {{'company.hotJobRegistering' | translate }}
                            <span>.</span>
                            <span>.</span>
                            <span>.</span>
                        </a>
                            
                            <a [class.is-registering]="isProcessingHotJob" 
                                class="flash hot-job-register" 
                                *ngIf="isHotJobRegistrable(job)" 
                                (click)="registerHotJob(job)">{{'company.hotJobRegister' | translate }}</a><br/>
                            <span class="label label-orange">{{getHotJobStatus(job)}}</span>
                        </div>
                    </td>
                </tr>
                <!-- end list job -->
            </tbody>
        </table>
        <div class="row" *ngIf="totalItems">
            <div class="col-xs-12 jv-pagination">
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="itemsPerPage" [maxSize]="15"></pagination>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="form-group">
        <label></label>
        <div class="login-error-message text-danger">
            <div *ngIf="formErrorMessage">
                {{formErrorMessage}}
            </div>
        </div>
    </div>
</div>