<div class="container-fluid company-container header_area">
  <div class="panel panel-default">
    <div class="panel-body">
      Find CV candidate
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-key"></i>
              </button>
            </span>
            <input type="text" class="form-control" placeholder="Keyword. Example: php developer">
          </div>

          <div class="tip">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Use blockquote
            <span>""</span> .Example: "IT director" to find your keyword
            <a>see more</a>
          </div>

          <div class="input-group input-position">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-folder-open-o"></i>
              </button>
            </span>
            <input type="text" class="form-control" placeholder="Keyword. Example: Select position">
          </div>

          <div class="input-group input-place">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-location-arrow"></i>
              </button>
            </span>
            <input type="text" class="form-control" placeholder="Keyword. Example: Select place to work">
          </div>

          <div class="search-advanced">
            <input type="radio" name="search" value="search-advanced" />
            <label for="search-advanced"> Search advanced</label>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">

        </div>
      </div>
    </div>
  </div>
</div>