<app-home-company-logged></app-home-company-logged>

<div class="container-fluid company-container header_area">
  <div class="panel panel-default">
    <div class="panel-body">
      Find CV candidate
    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="input-group input-key">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-key"></i>
              </button>
            </span>
            <input type="text" class="form-control" placeholder="Keyword. Example: php developer">
          </div>

          <div class="tip">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Use blockquote
            <span>" "</span> .Example: "IT director" to find your keyword
            <a>see more</a>
          </div>

          <div class="input-group input-position">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-folder-open-o"></i>
              </button>
            </span>
            <input type="text" class="form-control" placeholder="Keyword. Example: Select position">
          </div>

          <div class="input-group input-place">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-location-arrow"></i>
              </button>
            </span>
            <input type="text" class="form-control" placeholder="Keyword. Example: Select place to work">
          </div>

          <div class="search-advanced">
            <input type="radio" name="search" value="search-advanced" />
            <label for="search-advanced"> Search advanced</label>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="form-check search-purpose">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Search by title
            </label>
          </div>

          <div class="input-group input-level">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="fa fa-location-arrow"></i>
              </button>
            </span>

            <ng-select class="customForm" [items]="users" bindLabel="name" bindValue="id" [addTag]="addCustomUser" [multiple]="false" placeholder="Select level"
              [(ngModel)]="selectedUserIds">
            </ng-select>
          </div>

          <div class="input-group input-calendar">
            <span class="input-group-btn">
              <button class="btn btn-default" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          </div>

          <div class="search-btn">
            <button type="button" class="btn btn-success">
              <i class="fa fa-search"></i>
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>