<a routerLink="/jobs/{{job.id}}">
  <article>
    <div class="brows-job-list">
      <div class="col-xs-12 col-sm-2 col-lg-2 small-padding">
        <div class="brows-job-company-img">
          <img class="img-responsive" src="{{ job.company.logoURL | photoURLConverter:'assets/images/company-logo.png' }}" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 col-lg-7">
        <div class="brows-job-position">
          <h3>{{ job.title }}</h3>
          <h4 *ngIf="showCompanyName && job.company">{{ job.company.name }}</h4>
          <div class="mg">
            <h4 *ngIf="(job.skills | parseskillid) % 2 == 0" [style.background-color]="'#E87D5C'" class="skills">{{ job.skills | parseskill }}</h4>
            <h4 *ngIf="(job.skills | parseskillid) % 2 != 0" [style.background-color]="'#FFC375'" class="skills">{{ job.skills | parseskill }}</h4>
          </div>
          
          <p>
          <span class="brows-job-sallery">
            <i class="fa fa-money"></i>{{ job.fromSalary | salaryConverter:job.toSalary:'$' }}
          </span>
          <span class="job-type cl-success bg-trans-success">{{ job.jobType | typeOfJobTime }}</span>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="brows-job-location">
          <p><i class="fa fa-map-marker"></i>{{ job.company.city | cityPipe }}</p>
        </div>
      </div>
    </div>
  </article>
</a>
