<a routerLink="/jobs/:id">
  <div class="filter-result">
    <div class="col-md-10 col-sm-7 col-xs-12 pull-left">
        <div class="company-left-info pull-left">
            <img src="assets/images/company-logo.png" alt="Photo">
        </div>
        <div class="desig">
            <a href="job-style-one.html"><h3>Web Developer / PHP &amp; Drupal Ninja!</h3></a>
            <h4>PHP, MySQL, Linux, Wordpress</h4>
        </div>
    </div>
    <div class="col-md-2 col-sm-5 col-xs-12 pull-right">
        <div class="pull-right location">
            <p>Bristol</p>
        </div>
        <div class="data-job">
        <h3>£35,000 </h3>
            <span class="label job-type job-contract ">Contract</span>
        </div>
    </div>
  </div>
</a>
