
.profile-img-wrapper {
  width: 18%;
}
.profile-img {
  border-radius: 50%;
  width: 100%;
}
.dashboard .gery-bg{
  margin-top: 5px;
}
.user-info {
  padding-left: 30px;
}
.user-info div{
  display: block;
  padding-left: 10px;
}
.user-name {
  font-size: 30px;
  color: #12cd6a;
  text-transform: capitalize
}
.u-personal {
  margin-left: 10px;
}
.u-personal div{
  font-weight: bold;
  font-size: 15px;
}
.u-personal div>span {
  font-weight: normal;
}
.lowercase {
  text-transform: lowercase;
}
ul.no-bullet li::before {
  content: none;
}
ul.skills li {
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .user-data {
    margin-top: 30px;
  }
  .user-info {
    display: block;
    padding-left: 0;
  }
}