<app-home-company-logged></app-home-company-logged>

<div class="container-fluid page-title">
  <div class="row green-banner">
    <div class="container main-container">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h3 class="white-heading">{{ 'editJob.editJob' | translate }}</h3>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-6 colxs-12 capital">
        <h5>{{ 'postJob.introduction' | translate }}</h5>
      </div>
    </div>
  </div>
</div>
<!--header section -->

<!-- full width section forms -->
<div class="container-fluid contact_us">
  <form class="update-form" id="form-style-2" [formGroup]="postAJobForm" (ngSubmit)="onSubmitEditJob()">
    <div class="row user-information">
      <div class="container main-container-home">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="required">{{ 'postJob.jobTitle' | translate }}</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" [ngClass]="{ 'has-error': submitted && f.title.errors }">
              <input type="text" class="form-control" formControlName="title"  [(ngModel)]="job.title"/>
              <div *ngIf="submitted && f.title.errors">
                <em *ngIf="f.title.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="required">{{ 'postJob.jobCategory' | translate }}</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <ng-select
                class="custom"
                [ngClass]="{ 'ng-touched': submitted && f.categoryId.errors }"
                [items]="jobCategories"
                [closeOnSelect]="true"
                [hideSelected]="true"
                bindLabel="name"
                bindValue="id"
                placeholder="Select category"
                formControlName="categoryId"
                [(ngModel)]="job.category.id"
              >
              </ng-select>
              <div *ngIf="submitted && f.categoryId.errors">
                <em *ngIf="submitted && f.categoryId.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="required">{{ 'postJob.skills' | translate }}</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <ng-select
                class="multiple"
                [ngClass]="{ 'ng-touched': submitted && f.skillIds.errors }"
                [items]="listSkills"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                [hideSelected]="true"
                bindLabel="name"
                bindValue="id"
                placeholder="Select skills"
                formControlName="skillIds">
              </ng-select>
              <div *ngIf="submitted && f.skillIds.errors">
                <em *ngIf="submitted && f.skillIds.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="required">{{ 'postJob.typeOfWork' | translate }}</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <ng-select
                class="custom"
                [ngClass]="{ 'ng-touched': submitted && f.jobType.errors }"
                [items]="jobTypeList"
                [closeOnSelect]="true"
                [hideSelected]="true"
                bindLabel="name"
                bindValue="value"
                placeholder="Select category"
                formControlName="jobType"
                [(ngModel)]="job.jobType"
              >
              </ng-select>
              <div *ngIf="submitted && f.jobType.errors">
                <em *ngIf="submitted && f.jobType.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="required">{{ 'postJob.jobDescription' | translate }}</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <quill-editor
                [modules]="quillModules"
                [style]="{height: '150px'}"
                [required]="true"
                formControlName="description"
                [(ngModel)]="job.description">
              </quill-editor>
              <div *ngIf="submitted && f.description.errors">
                <em *ngIf="submitted && f.description.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="required">{{ 'postJob.jobRequirements' | translate }}</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <quill-editor
                [modules]="quillModules"
                [required]="true"
                [style]="{height: '150px'}"
                formControlName="requirements"
                [(ngModel)]="job.requirements"
                [innerHTML]="requirements">
              </quill-editor>
              <div *ngIf="submitted && f.requirements.errors">
                <em *ngIf="submitted && f.requirements.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>{{ 'postJob.benefit' | translate }}</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <quill-editor
                [modules]="quillModules"
                [style]="{height: '150px'}"
                [(ngModel)]="job.benefits"
                formControlName="benefits">
              </quill-editor>
            </div>
          </div>

          <ng-container formGroupName="salaryForm">
            <div class="form-group">
              <hr class="salary">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <label class="required">{{ 'postJob.salary' | translate }}(USD)</label>
              </div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && salaryF.fromSalary.errors }">
                      <label class="required salary" for="from">{{ 'postJob.from' | translate }}</label>
                      <input type="text" id="from" class="form-control" formControlName="fromSalary" [(ngModel)]="job.fromSalary">
                      <div *ngIf="submitted && salaryF.fromSalary.errors">
                        <em *ngIf="salaryF.fromSalary.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
                        <em *ngIf="salaryF.fromSalary.errors.pattern" class="error help-block">{{ 'validation.salaryNumber' | translate }}</em>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && (salaryF.toSalary.errors || salaryForm.errors) }">
                      <label class="required salary" for="to">{{ 'postJob.to' | translate }}</label>
                      <input type="text" id="to" class="form-control" formControlName="toSalary" [(ngModel)]="job.toSalary">
                      <div *ngIf="submitted && salaryF.toSalary.errors">
                        <em *ngIf="salaryF.toSalary.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
                        <em *ngIf="salaryF.toSalary.errors.pattern" class="error help-block">{{ 'validation.salaryNumber' | translate }}</em>
                      </div>
                      <div *ngIf="submitted && salaryForm.errors">
                        <em *ngIf="salaryForm.errors.difference" class="error help-block">{{ 'validation.salaryDifference' | translate }}</em>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <div class="row">
            <div class="col-md-12">
              <hr>
              <div class="pull-right">
                <button type="submit" class="btn btn-defaut bg-submit" [disabled]="isSubmitting">
                  <i *ngIf="!isSubmitting" class="fa fa-check-circle" aria-hidden="true"></i>
                  <i *ngIf="isSubmitting" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                  {{ 'editJob.submitEditJob' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </form>
  <ngx-loading [show]="isSubmitting"></ngx-loading>
</div>
<!--Contact-us-->

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
