<!-- Header Section -->
<app-header></app-header>
<!-- Header Section -->

<!--maine container Section -->
<div class="container-fluid login_register header_area deximJobs_tabs">
  <div class="row">
    <div class="container main-container-home">
      <div class="col-lg-offset-1 col-lg-11 col-md-12 col-sm-12 col-xs-12">
        <div class="tab-content">
          <div id="login" class="white-text">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding-left">
              <p>Login to your Candidate account.</p>
              <form name="contact_us" class="contact_us" [formGroup]="loginInForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Name</label>
                  <input type="email" name="email" formControlName="email">
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" id="password" formControlName="password" />
                </div>

                <div class="form-group submit">
                  <div class="col-lg-offset-2 cbox">
                    <input type="checkbox" name="checkbox" />
                    <span>Remember me</span>
                  </div>
                </div>
                <div class="form-group submit">
                  <label>Submit</label>
                  <input type="submit" name="submit" value="Sign in" class="signin" id="signin">
                  <a href="/lost-password" class="lost_password">Lost Password?</a>
                </div>

                <div class="form-group">
                  <a href="" class="col-lg-offset-2 btn btn-social btn-fb">
                    <i class="fa fa-facebook-square"></i>
                    <span>Sign in with Facebook</span>
                  </a>

                  <a href="" class="col-lg-offset-2 btn btn-social btn-gg">
                    <i class="fa fa-google-plus"></i>
                    <span>Sign in with Google</span>
                  </a>
                </div>

              </form>
            </div>
            <!-- sidebar right -->
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12  pull-right sidebar">
              <div class="widget">
                <h3>Don't have an account?</h3>
                <ul>
                  <li>
                    <p> If you'd like to find out more about how Jobsite can help you with your recruitment needs, please complete
                      this enquiry form.</p>
                  </li>
                  <li>
                    <p>A member of our Sales team will contact you shortly.</p>
                  </li>
                  <li>
                    <a routerLink="/register" class="label job-type register">Register</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--maine container Section -->

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
