@import "../../../../../libs/css/variables";
.white-text .main-title p {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  margin: 40px 0 30px 0;
  text-align: center
}
.w-u-link.l-pointer{
  color: #04ff00;
}

.cbox span:after{
  top: 10px
}
.deximJobs_tabs .tab-content {
  margin-top: 4px
}
.deximJobs_tabs .sidebar {
  margin-top: 0
}
.btn-social {
  color: #fff;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  padding: 15px;
  height: 50px;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  font-weight: 500;
}
.btn-social i {
  float: left;
  font-size: 25px;
  margin-top: -3px;
}
.btn-fb {
  background-color: #4c699e;
  border-color: #47618d;
}
.btn-gg {
  background-color: #da573b;
  border-color: #be5238;
}
.btn-google {
  color: #555555;
  background-color: #fff;
}

.login-error-icon {
  border: 2px solid $danger;
  padding: 0 7px;
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  font-weight: 500;
  border-radius: 21px;
}

.login-error-message {
  font-size: 13px !important;
  text-align: left;
  margin-top: 10px;
  max-height: 500px;
  color: $red !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, .5, 1);
  transition-timing-function: cubic-bezier(0, 1, .5, 1);
}
.resend-success {
  color: white;
  font-size: 20px;
}

@mixin btn-social-resize {
  margin-top: 10px;
  width: 100%
}

@mixin padding-for-lost_password{
  padding: 0 0 0 10px
}

@mixin margin-sidebar{
  margin-top: 20px
}

@media (min-width: 1204px) {
  .btn-social{
    margin-top: 10px;
    position: relative;
    left: 8%;

  }
}
@media (min-width: 1024px) and (max-width: 1203px) {
  .btn-social{
    margin-top: 10px;
    position: relative;
    left: 26%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .deximJobs_tabs .contact_us .lost_password {
    @include padding-for-lost_password
  };
  .deximJobs_tabs .sidebar{
    @include margin-sidebar
  };
  .btn-social {
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .deximJobs_tabs .contact_us .lost_password {
    @include padding-for-lost_password
  };
  .deximJobs_tabs .sidebar {
    @include margin-sidebar
  };
  .btn-social {
    @include btn-social-resize;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .deximJobs_tabs .contact_us .lost_password {
    @include padding-for-lost_password
  };
  .deximJobs_tabs .sidebar {
    @include margin-sidebar
  };
  .btn-social {
    @include btn-social-resize;
  }
}

#loadessr {
  background-color: rgba(217,217,217,0.3);
  z-index: 1;
}

a.error-input{
  color: red !important;
  cursor: pointer;
}

.font-size-20{
  font-size: 20px !important;
}

