<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Thu,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="2"></steps-update-profile>
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
