<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Hi,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="2"></steps-update-profile>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">{{ 'educationHistory.educationHistory' | translate }}
        <button class="btn btn-link pull-right" (click)="openModalCreateNew()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ 'educationHistory.addEducationHistory' | translate }}</button>
      </h4>
    </div>

    <div class="list-working" *ngIf="educationDegrees">
      <div class="row" *ngIf="!educationDegrees.length">
        <div class="col-md-12">
          <p class="not-update-alert">{{ 'educationHistory.plsComplete' | translate }}</p>
        </div>
      </div>

      <div class="item" *ngFor="let education of educationDegrees">
        <div class="row">
          <div class="col-xs-3 col-md-1">
            <img src="assets/images/university-icon.png" class="img-responsive" alt="company">
          </div>
          <div class="col-xs-6 col-md-8">
            <p class="working-title">
              {{ education.major }}
              <span class="working-description">({{ 'educationHistory.from' | translate }} {{ education.fromMonth }} - {{ education.toMonth }})</span>
            </p>
            <p class="working-title">
              {{ 'educationHistory.school' | translate }}:
              <span class="working-description">{{ education.university }}</span>
            </p>
            <p class="working-title">
              {{ 'educationHistory.qualification' | translate }}:
              <span class="working-description">{{ education.degreeType | educationDegrees | translate }}</span>
            </p>
            <p class="working-title">
              {{ 'educationHistory.degreeClassification' | translate }}:
              <span class="working-description">{{ education.degreeClassification | educationDegrees | translate }}</span>
            </p>
            <p class="working-title">{{ 'educationHistory.achievements' | translate }}:</p>
            <p class="working-description">{{ education.additionalInformation }}</p>
          </div>
          <div class="col-xs-3 col-md-3 pull-right">
            <div class="pull-right">
            <button type="button" class="btn btn-modify mr-2" (click)="deleteEducationDegrees(education.id)">
              <i *ngIf="!isDeletingWorkingEducation" class="fa fa-trash-o" aria-hidden="true"></i>
              <i *ngIf="isDeletingWorkingEducation" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              {{ 'common.btnDelete' | translate }}
            </button>
            <button type="button" class="btn btn-modify" (click)="editEducationDegrees(education)"><i class="fa fa-pencil" aria-hidden="true"></i> {{ 'common.btnEdit' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Add Education History -->
  <div bsModal #eduHistoryModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{ 'educationHistory.editEducationHistory' | translate }}</h4>
          <button type="button" class="close pull-right" (click)="eduHistoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="update-form" [formGroup]="educationDegreesFormGroup" (ngSubmit)="educationDegreesSubmit()">
            <input type="text"class="hidden" formControlName="idEducation">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': submittedEducation && edF.university.errors }">
                  <label for="school" class="required">{{ 'educationHistory.school' | translate }}</label>
                  <input type="text" class="form-control" placeholder="{{ 'educationHistory.schoolPlaceHolder' | translate }}" formControlName="university">
                  <div *ngIf="submittedEducation && edF.university.errors">
                    <em *ngIf="edF.university.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': submittedEducation && edF.major.errors }">
                  <label for="subject" class="required">{{ 'educationHistory.subject' | translate }}</label>
                  <input type="text" class="form-control" placeholder="{{ 'educationHistory.subjectPlaceHolder' | translate }}" formControlName="major">
                  <div *ngIf="submittedEducation && edF.major.errors">
                    <em *ngIf="edF.major.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="qualification" class="required">{{ 'educationHistory.qualification' | translate }}</label>
                  <ng-select
                    class="jv"
                    [ngClass]="{ 'ng-touched': submittedEducation && edF.degreeType.errors }"
                    [items]="qualifications"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Select ..."
                    formControlName="degreeType">
                 </ng-select>
                 <div *ngIf="submittedEducation && edF.degreeType.errors">
                   <em *ngIf="edF.degreeType.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
                 </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="school" class="required">{{ 'educationHistory.degreeClassification' | translate }}</label>
                  <ng-select
                    class="jv"
                    [ngClass]="{ 'ng-touched': submittedEducation && edF.degreeClassification.errors }"
                    [items]="classificationOfDegrees"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Select ..."
                    formControlName="degreeClassification">
                 </ng-select>
                 <div *ngIf="submittedEducation && edF.degreeClassification.errors">
                   <em *ngIf="edF.degreeClassification.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
                 </div>
                </div>
              </div>
            </div>

            <div class="row" formGroupName="studyTimeAt">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="required" for="fromMonth">{{ 'educationHistory.fromMonth' | translate }}</label>
                    </div>
                  </div>
                  <month-year-picker formControlName="fromMonth"></month-year-picker>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="required" for="toMonth">{{ 'educationHistory.toMonth' | translate }}</label>
                    </div>
                  </div>
                  <month-year-picker formControlName="toMonth"></month-year-picker>
                </div>
              </div>

              <div class="col-xs-12" [ngClass]="{ 'has-error': submittedEducation && studyTimeAt.errors }" *ngIf="submittedEducation && studyTimeAt.errors">
                <em *ngIf="studyTimeAt.errors.fromRequired" class="error help-block">{{ 'validation.fromMonthRequired' | translate }}</em>
                <em *ngIf="studyTimeAt.errors.toRequired" class="error help-block">{{ 'validation.toMonthRequired' | translate }}</em>
                <em *ngIf="studyTimeAt.errors.difference" class="error help-block">{{ 'validation.fromLessThanToMonth' | translate }}</em>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="subject">{{ 'educationHistory.achievements' | translate }}</label>
                  <textarea
                    class="textarea"
                    rows="4"
                    formControlName="additionalInformation">
                </textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <hr>
                <div class="pull-right">
                  <button type="button" class="btn btn-defaut bg-white mr-2" (click)="eduHistoryModal.hide()"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ 'common.btnCancel' | translate }}</button>
                  <button type="submit" class="btn btn-defaut bg-submit">
                    <i *ngIf="!isSubmittingEducation" class="fa fa-check-circle" aria-hidden="true"></i>
                    <i *ngIf="isSubmittingEducation" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    {{ 'common.btnUpdate' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Add Education History -->

  <!-- Confirm Delete workingExperience modal dialog -->
    <confirm-dialog
      #deleteEducationDialog
      [config]="{title: 'userProfile.titleDeleteWorking', description: 'userProfile.descriptionDeleteWorking'}"
      (handleConfirm)="handleConfirm($event)">
    </confirm-dialog>
  <!-- End Confirm Delete workingExperience modal dialog -->
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
