<div class="container m-t-lg">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="text-center m-t-lg m-b-lg">
                <a href="/">
                    <img src="../../../../assets/images/logo.png" alt="Juniorviec - Mạng tuyển dụng, việc làm hàng đầu Việt Nam." title="Juniorviec - Mạng tuyển dụng, việc làm hàng đầu Việt Nam." class="jnv-logo"></a>
            </div>
            <div class="ibox">
                <div class="ibox-content fadeInRight animated">
                    <div class="row">
                        <div class="col-sm-12">
                            <link rel="stylesheet" href="/bundles/naviworksuser/css/signup.css?zr1538043124">
                            <div class="row section-form">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <style>
                                        .help-block {
                                            text-align: left;
                                            margin: 5px 0 0;
                                        }
                                        
                                        .checkbox label a {
                                            position: relative;
                                            z-index: 100
                                        }
                                    </style>
                                    <div class="text-center m-t-lg m-b-lg">
                                        <h1>Hãy tham gia cùng hàng ngàn công ty đang sử dụng Juniorviec mỗi ngày</h1>
                                    </div>
                                    <form name="user" method="post" action="/v2/signup" novalidate="novalidate" id="formSignUp" class="m-t-lg" role="form">
                                        <div class="alert alert-danger hide">

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label required" for="user_email" aria-required="true">Địa Chỉ Email</label>
                                            <input type="email" id="user_email" name="user[email]" required="required" class="form-control form-control" tabindex="1" aria-required="true">



                                        </div>
                                        <div class="form-group">
                                            <label class="control-label required" for="user_password_first" aria-required="true">Mật khẩu (<i class="fa fa-info tip-password" title="" data-original-title="Một mật khẩu hợp lệ phải chứa từ 4 đến 20 ký tự."></i>)</label>
                                            <input type="password" id="user_password_first" name="user[password][first]" required="required" class="form-control form-control" tabindex="2" aria-required="true">

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label required" for="user_password_second" aria-required="true">Nhập Lại Mật Khẩu</label>
                                            <input type="password" id="user_password_second" name="user[password][second]" required="required" class="form-control form-control" tabindex="3" aria-required="true">

                                            <p class="gray-light m-t-xs"><i class="fa fa-shield" aria-hidden="true"></i> Mật mã tại Juniorviec luôn được mã hoá và bảo mật tuyệt đối.
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label required" for="user_company_name" aria-required="true">Tên Công Ty</label>
                                            <input type="text" id="user_company_name" name="user[company_name]" required="required" class="form-control form-control" tabindex="4" aria-required="true">

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label required" for="user_address" aria-required="true">Địa chỉ</label>
                                            <input type="text" id="user_address" name="user[address]" required="required" class="form-control form-control" tabindex="7" aria-required="true">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label required" for="user_phone" aria-required="true">Điện Thoại</label>
                                            <input type="text" id="user_phone" name="user[phone]" required="required" class="form-control form-control" tabindex="7" aria-required="true">
                                        </div>
                                        <div class="form-group">
                                            <label for="#user_termsAccepted" style="display: content;">
                                            <input class="checkTerms" type="checkbox" name="" id="user_termsAccepted">
                                            Tôi đã đọc và đồng ý với các <a href="#">Quy định bảo mật</a> và <a href="#">Thỏa thuận sử dụng </a></label>
                                        </div>
                                        <div class="form-group" style="margin-top: 50px;">
                                            <input type="submit" value="Đăng ký" class=" btn btn-success btn-dk">
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">Bạn đã có tài khoản ? <a routerLink="/employer/login">Đăng nhập ngay</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>