<app-header></app-header>

<!--Title Section-->
<div class="container-fluid page-title">
  <div class="row green-banner">
    <div class="container main-container">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h3 class="white-heading">Post A Job</h3>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-6 colxs-12 capital">
        <h5>Our database gives you access to millions of active candidates </h5>
      </div>
    </div>
  </div>
</div>
<!--Title Section-->

<!--Contact-us-->
<div class="container-fluid  contact_us">
  <form name="contact_us" id="form-style-2">
    <div class="row user-information">
      <div class="container main-container-home">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <!--Job Title-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>Job Title</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input type="text" name="location" placeholder="">
            </div>
          </div>

          <!--Job Category-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="default">
                Job Category
              </label>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <select class="form-control" >
                <option  *ngFor="let category of categories">{{category.name}}</option>
              </select>
            </div>

          </div>

          <!--Major-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="default">Major
                <br>
                <span>(Maximum is 3)</span>
              </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input type="text" name="job-type" placeholder="">
            </div>
          </div>

          <!--Work Place-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>Work Place</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input type="text" name="job-type" placeholder="">
            </div>
          </div>

          <!--Salary-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="default">
                Salary
                <br>
                <span>(USD)</span>
              </label>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <select class="form-control" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 label-switch-text">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              Option

            </div>
          </div>

          <!--Description-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>Description</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <textarea name="" cols="30" rows="10" placeholder=""></textarea>
              <i class="note-hint">(Maximum is 14500 character)</i>
            </div>
          </div>

          <!--Job Required-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>Job Require</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <textarea name="" cols="30" rows="10" placeholder=""></textarea>
              <i class="note-hint">(Maximum is 14500 character)</i>
            </div>
          </div>


          <!--Tag-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label class="default">Tag
                <br>
                <span>(Maximum 3 tag)</span>
              </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input type="text" name="job-tag" placeholder="">
            </div>
          </div>

          <!--Yêu cầu giới thiệu-->
          <!--<div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label >Yêu cầu giới thiệu?</label>
            </div>
            <div class="col-xs-3 col-xs-3 col-xs-3 col-xs-3 padding-top-10">
              <input class="magic-radio" type="radio" name="radio" id="1" value="Bắt buộc">
              <label class="label-radio radio-inline" for="1">
                Option
              </label>
            </div>
            <div class="col-xs-3 col-xs-3 col-xs-3 col-xs-3 padding-top-10">
              <input class="magic-radio" type="radio" name="radio" id="2" value="Hiển Thị nhưng không bắt buộc">
              <label class="label-radio radio-inline" for="2">
                Option
              </label>
            </div>
            <div class="col-xs-3 col-xs-3 col-xs-3 col-xs-3 padding-top-10">
              <input class="magic-radio" type="radio" name="radio" id="3" value="Bắt buộc">
              <label class="label-radio radio-inline" for="3">
                Option
              </label>
            </div>

          </div>

          <!--CV-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>Nhận Hồ Sơ bằng ngôn ngữ</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input type="text" name="job-type" placeholder="Bất kỳ">
            </div>
          </div>

          <!--Contact-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>Contact</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <input type="text" name="job-type" placeholder="HR Dept">
            </div>


            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 label-switch-text">
              <div>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                Option
              </div>
            </div>
          </div>

          <!--Email-->
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <label>Company</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input type="text" name="job-type" placeholder="yourEmail@example.com">
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<!--Contact-us-->

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
