<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Thu,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="3"></steps-update-profile>
  <div class="box-content box">
    <div>
      <h4 class="heading-title">{{ 'skill.keySkills' | translate }}
        <button class="btn btn-link pull-right" (click)="keySkillsModal.show()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ 'skill.addKeySkill' | translate }}</button>
      </h4>
    </div>
    <div class="row" *ngIf="currentSkills">
      <div class="col-md-12" *ngIf="!currentSkills.length">
        <p class="not-update-alert">Vui lòng hoàn thiện thông tin kỹ năng.</p>
      </div>
      <div class="col-sm-12" *ngIf="currentSkills.length" (click)="keySkillsModal.show()">
        <div class="position-relative">
          <div id="tags-edit">
            <span class="tag-xs" title="Javascript" *ngFor="let skill of currentSkills; index as i">
              <span class="tag-name">{{ skill }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">{{ 'language.languages' | translate }}</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="LanguagesFromGroup" (ngSubmit)="onSubmitLanguages()">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{ 'language.languages' | translate }}</th>
                <th width="50%" class="text-right">{{ 'language.level' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pln"><span>{{ 'language.english' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="ENGLISH"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="pln"><span>{{ 'language.french' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="FRENCH"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="pln"><span>{{ 'language.german' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="GERMAN"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="pln"><span>{{ 'language.spanish' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="SPANISH"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="pln"><span>{{ 'language.russian' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="RUSSIAN"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="pln"><span>{{ 'language.korean' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="KOREAN"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="pln"><span>{{ 'language.chinese' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="CHINESE"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="pln"><span>{{ 'language.japanese' | translate }}</span></td>
                <td>
                  <div class="row">
                    <div class="col-md-7 pull-right">
                      <ng-select
                        class="jv"
                        formControlName="JAPANESE"
                        [items]="languagesLevel"
                        [closeOnSelect]="true"
                        [hideSelected]="true"
                        bindLabel="name"
                        bindValue="value"
                        placeholder="{{ 'language.no' | translate }}">
                      </ng-select>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-12">
              <hr>
              <div class="pull-right">
                <button type="submit" class="btn btn-defaut bg-submit">
                  <i *ngIf="!languagesSummiting" class="fa fa-check-circle" aria-hidden="true"></i>
                  <i *ngIf="languagesSummiting" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                  {{ 'common.btnUpdate' | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Add Key Skills -->
  <div bsModal #keySkillsModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{ 'skill.addKeySkill' | translate }}</h4>
          <button type="button" class="close pull-right" (click)="keySkillsModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="update-form" [formGroup]="skillsFormGroup" (ngSubmit)="onSubmitSkills()">
            <div class="row">
              <div class="col-sm-12">
                <div class="position-relative">
                  <div id="tags-edit" formArrayName="skills">
                    <span class="tag-xs" title="Javascript" *ngFor="let skill of skills.controls; index as i">
                      <span class="tag-name">{{ skill.value }}</span>
                      <a class="ic-close" (click)="handleRemoveSkill(i)"><i class="fa fa-fw fa-remove"></i></a>
                      <input class="input-tag-name" type="hidden" [formControlName]="i" data-tag-name="skill.value">
                    </span>
                  </div>
                  <div hidden="" id="key-skill-limit-error" style=""><em class="text-orange">You have reached the maximum number of skills. Please delete one to add another.</em></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ 'skill.inputPlaceHolder' | translate }}"
                    [(ngModel)]="skillInput"
                    [ngModelOptions]="{standalone: true}"
                    (keydown.enter)="handleAddSkill($event)">
                </div>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-defaut bg-submit" (click)="handleAddSkill($event)"><i class="fa fa-plus" aria-hidden="true"></i> {{ 'skill.btnAdd' | translate }}</button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <hr>
                <div class="pull-right">
                  <button type="button" class="btn btn-defaut bg-white mr-2" (click)="keySkillsModal.hide()"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ 'common.btnCancel' | translate }}</button>
                  <button type="submit" class="btn btn-defaut bg-submit">
                    <i *ngIf="!skillsSummiting" class="fa fa-check-circle" aria-hidden="true"></i>
                    <i *ngIf="skillsSummiting" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    {{ 'common.btnUpdate' | translate }}
                  </button>
                </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Add Employment History -->
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
