<!-- Header Section -->
<app-home-company></app-home-company>
<!-- Header Section -->



<!--content lost_password-->
<div class="container main m-t-lg">
    <div class="row ">
       
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center m-t-lg m-b-lg">
          <a routerLink="/"><img src="../../../../assets/images/logo.png" alt="Juniorviec - Mạng tuyển dụng, việc làm hàng đầu Việt Nam." title="Juniorviec - Mạng tuyển dụng, việc làm hàng đầu Việt Nam." class="jnv-logo"></a>
        </div>
        <div class="ibox">
          <div class="ibox-content fadeInRight animated">
            <div class="row loader-wrapper" >
                <div class="loadessr blur-loading" *ngIf="loading">
                    <div class="loader">
                    </div>
                  </div>
              <div class="col-sm-12">
                <div class="row section-form em-log-in">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="text-center m-t-lg m-b-lg">
                      <h1>Update Password</h1>
                    </div>
                      <form name="contact_us" 
                            class="contact_us validation-form" 
                            [formGroup]="resetPasswordForm"
                            (ngSubmit)="resetPassword()"
                            *ngIf="!resetPasswordSuccess">
                        <div class="form-group global-error" 
                            [style.display]="hasServerError ? '' : 'none'">
                          <label></label>
                          <div *ngIf="submitted" class="error-input">
                              <div *ngIf="resetPasswordForm.errors?.serverError?.serverError">
                                  {{resetPasswordForm.errors.serverError.message}}
                              </div>
                              <div *ngIf="resetPasswordForm.errors?.serverError?.invalidToken">
                                  This link was expired. Go to <a routerLink="/employer/lost-password">forgot password</a> to send email again.
                              </div>
                          </div>
                        </div>


                        <div class="form-group required">
                          <label>Password</label>
                          <div class="input-container">
                            <input type="password" 
                                  name="name" 
                                  formControlName="password"
                                  [ngClass]="{'has-error': submitted && control.password.invalid}">
                            <div *ngIf="control.password.invalid" class="error-input">
                              <div *ngIf="submitted && control.password.errors.required">
                                Password is required.
                              </div>
                              <div *ngIf="control.password.errors.minlength">
                                  Password is at least {{control.password.errors.minlength.requiredLength}} characters.
                                </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group required">
                            <label>Repeat password</label>
                            <div class="input-container">
                              <input type="password" 
                                    name="name" 
                                    formControlName="repeatPassword"
                                    [ngClass]="{'has-error': resetPasswordForm.errors?.matchedPassword || submitted && control.repeatPassword.errors}">
                              <div *ngIf="resetPasswordForm.invalid"
                                    class="error-input">
                                    <div *ngIf="resetPasswordForm.errors?.matchedPassword">
                                      Password doesn't match.
                                    </div>
                                    <div *ngIf="submitted && control.repeatPassword.errors?.required">
                                      Password required.
                                    </div>

                              </div>
                            </div>  
                        </div>

                        <div class="form-group submit">
                          <label>Submit</label>
                          <input type="submit" name="submit" value="Update Password" class="submit" id="submit">
                        </div>
                      </form>
                      <!-- Reset password successfully -->
                      <div class=" col-xs-12 m-b-lg text-center" *ngIf="resetPasswordSuccess">
                        <p>You've just reset your password successfully!</p>
                          <div class="col-xs-12 ">
                              <a class="btn btn-black" routerLink="/employer/login" value="login">Sign in</a>
                            </div>
                      </div>
                  <!-- Reset password successfully -->
                      
                  </div>
                </div>
              </div>
            </div>
          

      

          </div>
        </div>
      </div>
    </div>
  </div>
<!--content lost_password-->

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->