<div class="upload resume">
    <div  class="loadessr blur-loading" *ngIf="isLoading">
        <div class="loader"></div>
    </div>
  <input type="file"
          name="post-image" 
          class="inputfile" 
          ng2FileSelect  
          [uploader]="fileUploader"
          (change)="fileChangeEvent($event)"
          #inputFile/>

         
<!--       
      <img [src]="croppedImage" /> -->



  <div *ngIf="!image">
      <div class="filename" (click)="triggerEventInputFile()" >
          <i class="fa fa-file-image-o" aria-hidden="true"></i>
          Browse cover photo
        </div>
        <i> Max. file size: {{maxSizeInString}}.</i>
  </div>
  <div class="row" >
    <div class="image-preview col-xs-8" *ngIf="image">
      <img [src]="image | photoURLConverter" />
      <div class="bg-change">
          <div class="change-image" (click)="triggerEventInputFile()">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
        </div>
    </div>
    <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1/1"
            [resizeToWidth]="256"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
    <div class="controls" [class.col-xs-12]="!image" [class.col-xs-4]="image">
        <button *ngIf="previewImage" class="btn-black" (click)="uploadFile()">Upload</button>
        <div *ngIf="hasError" class="error">{{errorMessage}}</div>
    </div>
    
    
  </div>

</div>