<app-home-company-logged></app-home-company-logged>
<div class="container header_area">
    <div class="row dc-bacsic">
        <div class="dc-avatar col-md-4">
            <img src="../../../../assets/images/profile-placeholder.png" alt="my profile candidate">
        </div>
        <div class="dc-basic-info col-md-8">
            <div class="dc-basic-info-name">
                <span>Nguyễn Văn ABC</span>
            </div>
            <div class="dc-basic-info-detail">
                <p>
                    <span class="block-in-sp"><i class="fa fa-eye"></i>&nbsp;<span>Lượt xem: 4</span>&nbsp;&nbsp;</span>
                    <span class="block-in-sp"><i class="fa fa-download"></i>&nbsp;<span>Lượt tải: 123</span>&nbsp;&nbsp;</span>
                    <span class="block-in-sp"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<span>Cập nhật ngày: 26/09/2018</span></span>
                </p>
            </div>
            <div class="dc-basic-info-btn">
                <button class="btn btn-warning btn-lg">
              Xem Thông Tin Liên Hệ (-2 Điểm)
            </button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="dc-detail-title">
                <i class="fa fa-list"></i><span>&nbsp;&nbsp;Thông Tin Chung</span>
            </div>
            <div class="dc-detail-info">
                <table>
                    <tr>
                        <th>Bằng cấp cao nhất</th>
                        <td>Thạc Sĩ</td>
                    </tr>
                    <tr>
                        <th>Số năm kinh nghiệm</th>
                        <td>14 năm</td>
                    </tr>
                    <tr>
                        <th>Kỹ năng ngôn ngữ</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Công việc gần đây nhất</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Công ty gần đây nhất</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Cấp bậc hiện tại</th>
                        <td>Nhân viên</td>
                    </tr>
                    <tr>
                        <th>Vị trí mong muốn</th>
                        <td>Senior Specticalist</td>
                    </tr>
                    <tr>
                        <th>Cấp bậc mong muốn </th>
                        <td>Nhân viên</td>
                    </tr>
                    <tr>
                        <th>Nơi làm việc mong muốn</th>
                        <td>Quảng Nam, Đà Nẵng, Huế</td>
                    </tr>
                    <tr>
                        <th>Nghành nghề/Chức năng mong muốn</th>
                        <td>Bán lẻ/Bán sỉ, Thu Mua/Vật Tư/Cung Vận</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>