.dc-bacsic {
    margin-top: 20px;
    margin-bottom: 25px;
}

.dc-avatar>img {
    max-width: 250px;
    height: auto;
}

.dc-basic-info-name {
    margin-top: 30px;
    margin-bottom: 15px;
}

.dc-detail-title {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 26px;
}

.dc-basic-info-detail>p {
    font-size: 15px;
    color: #c3a1a1;
    margin-bottom: 15px;
}

.dc-detail-info>table {
    width: 100%;
}

tr {
    border-top: 1px solid rgb(221, 221, 221);
}

th {
    padding: 15px;
}

@media (max-width:600px) {
    tr {
        border: none;
    }
    th,
    td {
        display: block;
    }
    th {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 7px;
        margin-top: 15px;
        border-width: 10px 0 10px 10px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#12cd6a), to(rgba(0, 0, 0, 0))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(right, #12cd6a, rgba(0, 0, 0, 0)) 1 100%;
        -moz-border-image: -moz-linear-gradient(right, #12cd6a, rgba(0, 0, 0, 0)) 1 100%;
        -o-border-image: -o-linear-gradient(right, #12cd6a, rgba(0, 0, 0, 0)) 1 100%;
        border-image: linear-gradient(to right, #12cd6a, rgba(0, 0, 0, 0)) 1 100%;
    }
    td {
        padding-left: 25px;
        font-size: 19px;
    }
    .block-in-sp {
        display: block;
        margin-bottom: 10px;
    }
    .dc-bacsic {
        margin-top: 55px;
    }
}

@media(max-width:375px) {
    button {
        width: 100%;
    }
}