.circle-logo-image {
  width: 100px;
  height: 100px;
  border-radius: 86%;
  background-position-y: 25%;
  display: inline;
}

.display-inline {
  display: inline;
}

.isApplied {
  background-color: #12cd6a;
}

.pointer {
  cursor: pointer !important;
}

.cover-company {
  max-height: 350px;
  object-fit: cover;
}

.share-button-group {
  button {
    margin-right: 15px;
  }
  text-align: center;
}

.share-button-group .mat-fab {
  color: white;
}

.content {
  font-size: 16px;
}

.mx-2 {
  margin-right: 10px;
  margin-top: 10px;
}

.widget ul.social {
  width: 100%;
}

.user-tag {
  label {
    font-size: 20px;
  }

  h5 {
    position: relative;
    top: -6px;
    font-size: 16px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}

button.close {
  border-radius: 50%;
  border: 1px solid #333;
  height: 23px;
  width: 23px;
}

.modal-footer,
.modal-header {
  border: none;
}

h4.modal-title {
  text-align: center;
}

.modal-header .close:hover {
  color: #fff;
  background: red;
}

.modal-dialog {
  margin-top: 25vh;
}

.modal-dialog .modal-header .modal-title > span {
  display: contents;
}

.background-light {
  background: #fff;
}

.modal-dialog.confirm-apply {
  width: 435px;
}

.this-image-modal {
  margin-top: -140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

button.btn.confirm-btn {
  color: #fff;
  width: 100%;
  display: block;
  border-radius: 30px;
  margin-bottom: 15px;
  background: rgba(66,205,108,1);
}

button.btn.cancel-btn {
  color: #000;
  width: 100%;
  border-radius: 30px;
  background: #fff;
  border: #12cd6a 2px solid;
}

button.btn.cancel-btn:hover,
button.btn.confirm-btn:hover {
  box-shadow: 0 15px 37px #cdcdcd;
}

.pa-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bold-text {
  font-weight: bold;
}

p.des-apply {
  color: #332;
  font-size: 15px;
  margin-bottom: 30px;
}

.confirm-title {
  font-size: 20px;
  font-weight: bold;
}

.confirm-description {
  font-size: 15px;
  font-weight: normal;
  padding: 10px 10px 20px;
  display: flex;
  align-items: center;

  .text {
    margin-left: 10px;
  }

  .confirm-icon {
    font-size: 40px;
    color: #f7ba2a;
  }
}

.confirm-footer {
  text-align: right;

  .btn-default,
  .btn-primary {
    padding: 10px 25px;
    font-size: 14px;
  }

  .btn-primary {
    border-color: #12cd6a;

    &:focus,
    &:hover {
      background-color: #52e497;
    }
  }

  .btn-default {
    margin-right: 10px;
  }
}

@media(max-width:481px) {
  .mx-2 {
    width: 40%;
    float: left;
  }
}
@media(min-width:768px) {
  .modal-body {
    padding: 35px;
  }
}
@media(max-width:767px) {
  .modal-dialog {
    margin-top: 25vh !important;
  }
}
@media(max-width:500px) {
  .filter-result {
    .col-md-7.col-xs-12.pull-left {
      .company-left-info.company-logo.pull-left {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
      }
    }
  }

  .modal-dialog.confirm-apply {
    width: 300px;
  }

  .modal-dialog {
    margin-top: 15vh !important;
  }

  .this-image-modal {
    margin-top: -95px;
  }
}
