.circle-logo-image{
  width: 100px;
  height: 100px;
  border-radius: 86%;
  background-position-y: 25%;
  display: inline;
}

.display-inline{
  display: inline;
}

.isApplied{
  background-color: #12cd6a;
}

.pointer{
  cursor: pointer !important;
}

.cover-company{
  max-height: 350px;
  object-fit: cover;
}

.share-button-group {
  button {
    margin-right: 15px;
  }
  text-align: center;
}
.share-button-group .mat-fab {
  color: white;
}

.content {
  font-size: 16px;
}
