<app-header></app-header>

<!-- Page Title-->
<div class="container-fluid page-title">
  <div id="loadessr" style="left: 0px;" *ngIf="isLoading">
    <div id="loader">
    </div>
  </div>
  <div *ngIf="job && company">
    <div class="row green-banner">
      <div class="container main-container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <!--Job Name-->
          <h3 class="white-heading">{{job.category.name}}</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
          <div class="favourite">Save Job<i class="fa fa-star-o"></i><span>Posted on March 2016</span></div>
        </div>
      </div>
    </div>
    <div class="row dashboard">
      <div class="container main-container gery-bg">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding user-data">
          <div class="seprator ">
            <div class="no-padding user-image"><img src="assets/images/job-admin.png" alt=""/></div>
            <div class="user-tag">{{company.name}}<span>{{company.contactName}}</span></div>
            <div class="job-status"><span class="label job-type job-partytime">{{job.category.name}}</span></div>
          </div>
          <div class="seprator">
            <div class="user-tag" *ngIf="job">
              <label>Sallary<span>${{ job.fromSalary }} - ${{ job.toSalary }}</span></label></div>
          </div>
          <div class="seprator">
            <!--<div class="user-tag"><label>Hours<span>44h / week</span></label></div>-->
          </div>
          <div class="seprator">
            <div class="user-tag"><label>Locations<span>{{company.address}}</span></label></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Page Title-->

<!-- Job Data -->
<div class="container-fluid jpd-data white-bg" *ngIf="job">
  <div class="row">
    <div class="container main-container-job">
      <div class="col-lg-9 col-md-9 col-sm-8">
        <div class="post-image">
          <!--Cover Image-->
          <img src="{{coverCompany}}" alt="" class="cover-company"/>
        </div>
        <div class="content">
          <h3>{{job.title}}</h3>
          <div [innerHTML]="job.description"></div>

          <h2 *ngIf="job.requirements">Requirement</h2>
          <div [innerHTML]="job.requirements"></div>

          <h2 *ngIf="job.benefits">Benefits</h2>
          <div [innerHTML]="job.benefits"></div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-4 sidebar">
        <div class="widget w1">
          <ul>
            <li>
              <a>
                <!--Apply job button-->
                <span *ngIf=" !isStudentRole && !isCompanyRole" class="label job-type apply-job pointer"
                      (click)="redirectToLogin()">APPLY FOR JOB</span>

                <span *ngIf="isStudentRole && job"
                      [ngClass]="{
                        'apply-job': !job.isApplied,
                        'isApplied': job.isApplied
                       }"
                      #btnApplyJob
                      (click)="applyJob(job.isApplied, btnApplyJob)" class="label job-type pointer">
                  {{renderTextForBtnApplyJob(job.isApplied)}}
                </span>
              </a>
            </li>
            <li>
              <!--Logo Image-->
              <img class="img-responsive circle-logo-image" src="{{logoCompany}}" alt=""/>
            </li>
          </ul>
          <ul class="social" *ngIf="company">
            <li><a href="{{company.website}}"><i class="fa fa-link display-inline"></i>{{company.website}}</a></li>
            <li><a href="#"><i class="fa fa-envelope display-inline"></i>{{company.email}}</a></li>
            <li><a href="#"><i class="fa fa-phone display-inline"></i>{{company.phoneNumber}}</a></li>
          </ul>
        </div>
        <div class="share-button-group">
          <share-button button="facebook" size="-4" theme="circles-dark" [icon]="fbIcon"></share-button>
          <share-button button="google" size="-4" theme="circles-dark" [icon]="googlePlusIcon"></share-button>
          <share-button button="linkedin" size="-4" theme="circles-dark" [icon]="linkedInIcon"></share-button>
          <share-button button="pinterest" size="-4" theme="circles-dark" [icon]="pinIcon"></share-button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Job Data-->

<!--Recommended Jobs-->
<div class="container-fluid  job-recom" *ngIf="recommencedJobs.length >0">
  <div class="row">
    <div class="main-container">
      <div class="col-lg-12 text-center">
        <h3>Recommended Jobs</h3>

      </div>
      <div id="recommended-job" class="owl-carousel owl-template owl-theme" style="opacity: 1; display: block;">
        <!--Recomended job-->
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper"
               style=" left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">

            <ng-container *ngFor="let recommencedJob of recommencedJobs">
              <a class="owl-item" [routerLink]="'/jobs/'+recommencedJob.id">
                <div class="item recom-job">
                  <div class="related_jos">
                    <h4>{{recommencedJob.title}} </h4>
                    <span class="label job-type job-partytime">{{recommencedJob.category.name}}</span>
                    <p>{{recommencedJob.company.address}}<br>{{recommencedJob.company.city}}</p>
                    <span class="salary">{{recommencedJob.fromSalary | currency:'USD'}} - {{recommencedJob.toSalary | currency:'USD'}}<i class="fa fa-star-o"></i><i class="fa fa-star"></i></span>
                  </div>
                </div>
              </a>
            </ng-container><!---->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Recommended Jobs-->

<!--Blue Secions -->
<div class="container-fluid green-banner" style="background:#12cd6a">
  <div class="row">
    <div class="container main-container v-middle" id="style-2">
      <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12  ">
        <h3 class="white-heading">Got a question</h3>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
        <a routerLink="/contact-us"  target="_blank" class="btn btn-getstarted bg-red">Contact Us</a>
      </div>
    </div>
  </div>
</div>
<!--blue Section -->

<app-footer></app-footer>
