.j-type a.selected .btn-badge,
.j-type a.selected .btn-badge,
.j-type a .btn-badge {
    background-color: #12cd6a;
    border-color: #fff;
}
.j-type a.selected {
    color: #23527c;
}
.j-type a.selected .btn-badge, 
.j-type a:hover .btn-badge {
    background-color:#23527c;
    border-color: #23527c;
}
.j-type {
    margin-top: 10px;
}
.j-type a {
    font-size: 17px;
}

.c-job-status {
    margin-top: 25px;
}
.c-job-expiration {
    margin: 25px auto;
}
.c-job-status {
    margin-top: 25px;
}
.blocks a.j-title{
    border: none; 
    border-radius: 55px;
    color: #12cd6a;
    float: left;
    font-size: inherit;
    text-transform: uppercase;
}
.j-status, .j-expiration  {
    margin-top: 30px;
}
.blocks .block {
    margin: 10px;
    box-shadow: 0 0 46px 0 #d1d1d1
}

