.carousel-caption {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(0%, -25%);
    -webkit-transform: translate(0%, -25%);
    -moz-transform: translate(0%, -25%);
    -ms-transform: translate(0%, -25%);
    -o-transform: translate(0%, -25%);
}

.heading-primary {
    color: #fff;
    width: 100%;
    line-height: 1.5;
    backface-visibility: hidden;
    .heading-primary-main {
        display: block;
        font-size: 35px;
        font-weight: 200;
        text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
        animation: moveInLeft 1s ease-out;
    }
    .heading-primary-sub {
        display: block;
        font-weight: 700;
        font-size: 76px;
        line-height: 0.8;
        text-transform: uppercase;
        white-space: pre-line;
        text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
        animation: moveInRight 1s ease-out;
    }
}

.main-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px;
    font-weight: 500;
    min-width: 223px;
    font-size: 12px;
    padding: 14px 30px;
    margin-top: 80px;
    &:hover {
        background-color: #55bce7;
        border-color: #55bce7;
    }
}

.btn-animation {
    animation: moveInBottom .5s ease-out;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom-slider {
    background-color: #414971;
    z-index: 3;
    position: relative;
    .info-block {
        p {
            color: #55bce7;
            font-weight: 700;
            margin: 2px 0 1px;
            text-transform: uppercase;
        }
        h3 {
            font-size: 30px;
            margin: 0 0 2px;
            color: #fff;
        }
    }
}

.pt-25 {
    padding-top: 25px;
}

.about {
    background-color: #fff;
    color: #808080;
    .heading-about {
        animation: moveInTop 3s ease-out;
        margin-top: 180px;
        h2 {
            background: -webkit-linear-gradient(#55bce7, #736fb3);
            background: linear-gradient(#55bce7, #736fb3);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            float: left;
            font-size: 140px;
            font-weight: 700;
            letter-spacing: -0.1em;
            line-height: 0.9;
            margin: 20px -4px 20px -10px;
            padding-right: 30px;
            -webkit-text-fill-color: transparent;
        }
        h4 {
            font-size: 40px;
            font-weight: 300;
            line-height: 3;
            margin: 0;
            position: relative;
            word-wrap: break-word;
        }
        h3 {
            font-size: 61px;
            font-weight: 700;
            line-height: 0;
            margin: -10px 0 0 0;
            position: relative;
            text-transform: uppercase;
            word-wrap: break-word;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            margin: 56px 0 31px;
        }
    }
    .icons-list {
        margin-top: 40px;
        animation: moveInTop .5s ease-out;
        .media {
            display: block;
            border-bottom: 1px solid #e1e1e1;
            padding-top: 15px;
            padding-bottom: 13px;
            .teaser-icon {
                display: inline-block;
                margin-right: 15px;
                width: 35px;
                font-size: 30px;
                color: #efeff0
            }
            span {
                display: inline;
                color: #55bce7;
                font-size: 30px;
                font-weight: 600;
                margin-right: 5px;
            }
            p {
                font-size: 20px;
                font-weight: 400;
                display: inline;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    .hr-cover {
        animation: moveInRight 3s ease-out;
        -webkit-animation: moveInRight 3s ease-out;
    }
}

.py-130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.teaser-box {
    background-image: url(../../../../assets/images/texture2.jpg);
    background-position: 50% -8px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    .box-shadow {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 50px 60px 50px;
        border-color: transparent;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        background-color: #f5f5f5;
        text-align: center;
        .teaser-icon {
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-color: transparent;
            border-radius: 50%;
            box-sizing: content-box;
            font-size: 28px;
            position: relative;
            width: 100px;
            height: 100px;
            top: -59px;
            color: #fff;
            background: linear-gradient(to bottom, #55bce7 0%, #736fb3 100%);
            .fa {
                padding-top: 35px;
            }
            &:hover {
                animation: zoomIn .4s ease-out .75s;
                -webkit-animation: zoomIn .4s ease-out .75s;
            }
        }
        h3 {
            line-height: 1;
            position: relative;
            bottom: 30px;
            a {
                color: #1f232b;
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -0.02em;
                line-height: 1.2;
                text-decoration: none;
            }
        }
        p {
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
}

.pt-20 {
    padding-top: 20px
}

.pb-10 {
    padding-bottom: 10px
}

.main-contact-form {
    background-image: url(../../../../assets/images/slide03.jpg);
    .contact-header {
        text-transform: uppercase;
        padding-bottom: 70px;
        padding-top: 100px;
        color: #fff;
        text-align: center;
        h5 {
            position: relative;
            bottom: 10px;
            font-size: 30px;
            font-weight: 300;
        }
        h4 {
            font-size: 40px;
            line-height: 0;
            font-weight: 600;
        }
    }
    .form-contact {
        color: #fff;
        .form-group {
            .form-control {
                background-color: rgba(15, 15, 15, 0.5);
                border: none;
                color: #fff;
                border-radius: 0;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: -0.02em;
                padding: 10px 20px 10px;
                text-transform: uppercase;
                width: 100%;
            }
        }
        .contact-submit {
            margin-top: 40px;
            margin-bottom: 150px;
            padding: 11px 47px 10px;
            background: transparent;
            border: 1px solid #f2f2f2;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            height: 50px;
            letter-spacing: 0.1em;
            line-height: 1.6em;
            text-transform: uppercase;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #55bce7;
                border-color: #55bce7;
            }
        }
    }
}

::-webkit-input-placeholder {
    color: #FFF;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #FFF;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFF;
}

:-ms-input-placeholder {
    color: #FFF;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 1201px) and (max-width: 1308px) {
    .carousel-caption {
        position: absolute;
        top: 30%;
        left: 20%
    }
    .heading-primary {
        .heading-primary-main {
            font-size: 40px;
        }
        .heading-primary-sub {
            font-size: 75px;
        }
    }
}

@media (min-width: 770px) and (max-width: 1200px) {
    .carousel-caption {
        position: absolute;
        top: 30%;
        left: 20%
    }
    .heading-primary {
        .heading-primary-main {
            font-size: 20px;
        }
        .heading-primary-sub {
            font-size: 45px;
        }
    }
    .main-button {
        margin-top: 40px;
        padding: 10px 26px;
    }
    .bottom-slider {
        .info-block {
            p {
                font-size: 18px;
            }
            h3 {
                font-size: 28px;
                margin: 0 0 2px;
                color: #fff;
            }
        }
    }
    .about {
        .heading-about {
            margin-top: 40px;
            h2 {
                font-size: 130px;
            }
            h4 {
                font-size: 38px;
            }
            h3 {
                font-size: 50px;
            }
            p {
                font-size: 18px;
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 769px) {
    .carousel-caption {
        position: absolute;
        top: 30%;
        left: 14%
    }
    .heading-primary {
        .heading-primary-main {
            font-size: 15px;
        }
        .heading-primary-sub {
            font-size: 35px;
        }
    }
    .main-button {
        margin-top: 15px;
        padding: 5px 2px;
        font-size: 6px;
        min-width: 100px;
    }
    .bottom-slider {
        .info-block {
            p {
                font-size: 15px;
            }
            h3 {
                font-size: 20px;
                margin: 0 0 2px;
                color: #fff;
            }
        }
    }
    .about {
        .heading-about {
            margin-top: 20px;
            h2 {
                font-size: 100px;
            }
            h4 {
                font-size: 30px;
            }
            h3 {
                font-size: 51px;
            }
            p {
                font-size: 16px;
                margin-top: 40px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .carousel-caption {
        position: absolute;
        top: 20%;
        left: 14%;
        transform: translate(0%, -15%);
        -webkit-transform: translate(0%, -15%);
        -moz-transform: translate(0%, -15%);
        -ms-transform: translate(0%, -15%);
        -o-transform: translate(0%, -15%);
    }
    .heading-primary {
        .heading-primary-main {
            font-size: 10px;
        }
        .heading-primary-sub {
            font-size: 25px;
            line-height: 1;
        }
    }
    .main-button {
        margin-top: 0;
        padding: 5px 2px;
        font-size: 6px;
        min-width: 85px;
    }
    .bottom-slider {
        .info-block {
            p {
                font-size: 15px;
            }
            h3 {
                font-size: 20px;
                margin: 0 0 2px;
                color: #fff;
            }
        }
    }
    .about {
        .heading-about {
            margin-top: 20px;
            h2 {
                font-size: 72px;
                margin: 20px -19px 13px -4px;
            }
            h4 {
                font-size: 24px;
            }
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 16px;
                margin-top: 30px;
            }
        }
    }
}