.carousel-caption {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(0%, -25%);
  -webkit-transform: translate(0%, -25%);
  -moz-transform: translate(0%, -25%);
  -ms-transform: translate(0%, -25%);
  -o-transform: translate(0%, -25%);
}

.heading-primary {
  color: #fff;
  width: 100%;
  line-height: 1.5;
  backface-visibility: hidden;
  .heading-primary-main {
    display: block;
    font-size: 35px;
    font-weight: 200;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    // animation: moveInLeft 1s ease-out;
  }
  .heading-primary-sub {
    display: block;
    font-weight: 700;
    font-size: 85px;
    line-height: 0.8;
    text-transform: uppercase;
    white-space: pre-line;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    // animation: moveInRight 1s ease-out;
  }
}

.main-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 16px;
  font-weight: 500;
  min-width: 223px;
  font-size: 12px;
  padding: 14px 30px;
  margin-top: 80px;
  &:hover {
    background-color: #55bce7;
    border-color: #55bce7;
  }
}

// .btn-animation {
//   animation: moveInTop .1s ease-out .55s;
//   animation-fill-mode: backwards;
//   -webkit-animation: moveInTop .1s ease-out .55s;
// }

// @keyframes moveInLeft {
//   0% {
//     opacity: 0;
//     transform: translateX(-100px);
//     -webkit-transform: translateX(-100px);
//     -moz-transform: translateX(-100px);
//     -ms-transform: translateX(-100px);
//     -o-transform: translateX(-100px);
// }
//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }

// @keyframes moveInRight {
//   0% {
//     opacity: 0;
//     transform: translateX(100px);
//     -webkit-transform: translateX(100px);
//     -moz-transform: translateX(100px);
//     -ms-transform: translateX(100px);
//     -o-transform: translateX(100px);
// }
//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }

// @keyframes moveInBottom {
//   0% {
//     opacity: 0;
//     transform: translateY(30px);
//     -webkit-transform: translateY(30px);
//     -moz-transform: translateY(30px);
//     -ms-transform: translateY(30px);
//     -o-transform: translateY(30px);
// }
//   80% {
//     opacity: 1;
//     transform: translateY(-10);
//     -webkit-transform: translateY(-10);
//     -moz-transform: translateY(-10);
//     -ms-transform: translateY(-10);
//     -o-transform: translateY(-10);
// }
//   100% {
//     opacity: 1;
//     transform: translate(0);
//   }
// }

// @keyframes moveInTop {
//   0% {
//     opacity: 0;
//     transform: translateY(-30px);
//     -webkit-transform: translateY(-30px);
//     -moz-transform: translateY(-30px);
//     -ms-transform: translateY(-30px);
//     -o-transform: translateY(-30px);
//   }
//   80% {
//     opacity: 1;
//     transform: translateY(10);
//     -webkit-transform: translateY(10);
//     -moz-transform: translateY(10);
//     -ms-transform: translateY(10);
//     -o-transform: translateY(10);
//   }
//   100% {
//     opacity: 1;
//     transform: translate(0);
//     -webkit-transform: translate(0);
//     -moz-transform: translate(0);
//     -ms-transform: translate(0);
//     -o-transform: translate(0);
//   }
// }

@media (min-width: 1201px) and (max-width: 1308px) {
  .carousel-caption {
    position: absolute;
    top: 30%;
    left: 20%
  }
  .heading-primary {
    .heading-primary-main {
      font-size: 40px;
    }
    .heading-primary-sub {
      font-size: 75px;
    }
  }
}

@media (min-width: 770px) and (max-width: 1200px) {
  .carousel-caption {
    position: absolute;
    top: 30%;
    left: 20%
  }
  .heading-primary {
    .heading-primary-main {
      font-size: 20px;
    }
    .heading-primary-sub {
      font-size: 45px;
    }
  }
  .main-button {
    margin-top: 40px;
    padding: 10px 26px;
  }
}

@media (min-width: 481px) and (max-width: 769px) {
  .carousel-caption {
    position: absolute;
    top: 30%;
    left: 14%
  }
  .heading-primary {
    .heading-primary-main {
      font-size: 15px;
    }
    .heading-primary-sub {
      font-size: 35px;
    }
  }
  .main-button {
    margin-top: 15px;
    padding: 5px 2px;
    font-size: 6px;
    min-width: 100px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .carousel-caption {
    position: absolute;
    top: 20%;
    left: 14%;
    transform: translate(0%, -15%);
    -webkit-transform: translate(0%, -15%);
    -moz-transform: translate(0%, -15%);
    -ms-transform: translate(0%, -15%);
    -o-transform: translate(0%, -15%);
  }
  .heading-primary {
    .heading-primary-main {
      font-size: 10px;
    }
    .heading-primary-sub {
      font-size: 25px;
      line-height: 1;
    }
  }
  .main-button {
    margin-top: 0;
    padding: 5px 2px;
    font-size: 6px;
    min-width: 85px;
  }
}