<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Thu,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="4"></steps-update-profile>
  <div class="box-content box">
    <div>
      <h4 class="heading-title">Công việc mong muốn</h4>
    </div>
    <form class="update-form">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Nơi làm việc</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="checkbox">
           <label class="no-work-experience"><input type="checkbox"> Có thể thay đổi nơi làm việc</label>
         </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Ngành nghề</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Cấp bậc mong muốn</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="email" class="required">Mức lương mong muốn</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
          <div class="pull-right">
            <button type="submit" class="btn btn-defaut bg-submit"><i class="fa fa-check-circle" aria-hidden="true"></i> Cập nhật</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
