<app-home-company-logged></app-home-company-logged>
<div class="container-fluid main-container header_area">
  <div class="candidate-list col-sm-12 col-md-12 col-lg-12">
    <div class="ibox">
      <div class="ibox-content">
        <div class="tab-content">
          <div class="m-t candidate-sub-content">
            <h3 class="m-b-lg">Hồ sơ đã xóa</h3>
            <!-- No data box -->
            <div class="empty-box">
              <span class="fa fa-inbox"></span>
              <h2>Hiện Tại Không Có Hồ Sơ Nào Bị Xóa</h2>
            </div>
            <!--End No data box-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="candidate-sidebar col-sm-12 col-md-3 col-lg-3">
   
  </div>
</div>