.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-content {
  background-color: #fff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e5e6e7;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  clear: both;
  h2,
  h3 {
    margin-top: 5px;
  }
}

.ibox-content h3 {
  color: #12cd6a;
  font-size: 24px
}

.ibox-content h2 {
  font-weight: 300
}

.m-t {
  margin-top: 15px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.empty-box {
  width: 100%;
  text-align: center;
  border: 2px dotted #ccc;
  color: #aaa;
  padding: 10% 0;
}

.empty-box .fa {
  font-size: 45px;
}

.candidate .candidate-list {
  z-index: 1;
}

.ibox .ibox-content {
  padding: 20px;
  border: 1px #ebebeb solid;
}

@media (max-width:767px) {
  .ibox-content {
    border-width: 1px;
    border-color: #ebebeb;
  }
}

/* col-lg-3 candidate-sidebar */
.candidate-sidebar {
  z-index: 0;
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    outline: 0;
  }
  .panel-default {
    border-color: #ddd;
    >.panel-heading {
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .panel-body {
      padding: 15px;
      .no-padding {
        padding: 0 ;
      }      
    }

    .small{
      .pull-left {
        float: left
      }
    }
  }
  .folder-list {
    padding-left: 0;
  }
}



.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.panel-body:after,
.row:after {
  clear: both;
}


a {
  font-size: 16px;
  color: #12cd6a;
}

a:hover {
  color: #0d6134;
}
/* col-lg-3 candidate-sidebar */


