<app-header></app-header>

<div class="container-fluid login_register header_area deximJobs_tabs">
  <div class="row">
    <div class="container main-container-home">
      <div class="col-lg-offset-1 col-lg-11 col-md-12 col-sm-12 col-xs-12">
        <div class="tab-content">
          <p>You have just registered successfully!</p>
          <p>We just sent you an verification email to the address:
            <b>{{email}}</b>
          </p>
          <p>Please check your email and click on the link provided to verify your address.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>