<!-- <a routerLink="/jobs/:id"> -->
<div class="container filter-result">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <a href="#" class="main-title ">
        <p>Software Engineer - San Francisco OR Remote - USA</p>
      </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <p class="position">Full time</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p class="language">PHP, MySQL, Linux, Wordpress</p>
    </div>
    <div class="col-md-4">
      <p class="salary">$600 - $1500 </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="#" class="job-apply">
        <span class="label">Apply now</span>
      </a>
    </div>
  </div>
</div>
<!-- </a> -->