.filter-result{
  padding:10px 20px;

  .main-title {
    p{
      font-size: 17px;
      color: #333333
    }
  }
  .position {
    font-size: 12px;
    color: #12cd6a;
    border: 1px solid #12cd6a;
    padding: 5px;
    text-align: center
  }
  .language {
    font-size: 12px;
    color: #333333
  }
  .salary{
    font-size: 12px;
    color: #5a6f7c;
  }
  .job-apply{
    padding-top: 10px;
    padding-bottom: 10px;
    .label {
      border-radius: none;
      padding: 8px;
      width: 100%    ;
      -webkit-border-radius: none;
      -moz-border-radius: none;
      -ms-border-radius: none;
      -o-border-radius: none;
      &:hover{
        background-color: #19643c
      }
    }
  }
}

