.jobs-result {
  float: left;
  width: 100%;
  margin-top: 28px;
  .jobs-title {
    padding: 10px;
    background-color: #12cd6a;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    &.hot-jobs {
      background-color: #12cd6a;
      font-size: 18px;
    }
  }
}

.carousel-inner {
  min-height: 900px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: auto;
}

.carousel-controls {
  position: relative;
  width: 300px;
  margin: 5px auto 60px auto;
  z-index: 2;
  .left,
  .right {
    background-image: none;
  }
}

.carousel-indicators {
  position: relative;
  top: 6px;
  .active {
    background-color: #7CE2B4
  }
}

.carousel-indicators li {
  border: 1px solid #7CE2B4
}

@media (max-width: 991px) {
  .jobs-result {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

}
