<div class="jobs_results">
  <div class="tab_filters">
    <div class="col-lg-4">
      <h5>Recent Jobs</h5>
      <h4>Popular
        <span>Category </span>
      </h4>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 filters pull-right filter-category">
      <ul class="nav nav-pills">
        <li class="web-designer">
          <a href="#">Web Designer</a>
        </li>
        <li class="fianance">
          <a href="#">Finance</a>
        </li>
        <li class="education">
          <a href="#">Education</a>
        </li>
        <li class="food-service">
          <a href="#">Food Services</a>
        </li>
        <li class="health-services">
          <a href="#">Health Care</a>
        </li>
        <li class="automative">
          <a href="#">Automative</a>
        </li>
        <li class="all active">
          <a href="#">All</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="jobs-result">
    <div class="col-xl-12 col-md-8 col-sm-12 col-lg-8">
      <div id="slideJob" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div  class="item" *ngFor="let i of fakeArray; index as page" [class.active]="page == 0">
              <ng-template ngFor let-job [ngForOf]="jobs | slice:getStartIndexOfPage(page):getEndIndexOfPage(page)">
                <app-job-item [job]="job"></app-job-item>
              </ng-template>
            </div>
          
        </div>

        <div class="carousel-controls">
          <a class="left carousel-control" href="#slideJob" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <ol class="carousel-indicators">
            <li data-target="#slideJob" data-slide-to="0" class="active"></li>
            <li data-target="#slideJob" data-slide-to="1"></li>
            <li data-target="#slideJob" data-slide-to="2"></li>
          </ol>
          <a class="right carousel-control" href="#slideJob" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xl-12 col-md-4 col-sm-12col-lg-4">
      <h3 class="jobs-title hot-jobs">Hot Jobs</h3>
      <hotjob-item></hotjob-item>
      <hotjob-item></hotjob-item>
      <hotjob-item></hotjob-item>
      <hotjob-item></hotjob-item>
    </div>

  </div>
</div>