.jobs_filters {
  background: transparent;
  padding: 0px;
  box-shadow: none;
}
.panel-body {
  background-color: #fff;
  padding-bottom: 5%;
}
.dropdown button,
.dropdown .dropdown-menu {
  width: 100%;
  white-space: initial;
}
.dropdown button p.selected-job {
  margin: 0px;
  color: #12cd6a;
}
.dropdown button,
input {
  outline: none;
  padding: 10px;
}
.dropdown input {
  margin: 5px 4px 20px;
  width: 90%;
  padding: 10px;
  border: 1px solid #e1e1e1;
}
.j-table .profile-img {
  width: 70%;
  border-radius: 50%;
  margin-left: 5px;
}
.dropdown .j-list-all {
  margin-right: 15px;
}
.actions a {
  color: #12cd6a;
  border-color: #12cd6a;
}
.actions a:hover {
  margin: 2px;
  color: #ffffff;
  background-color: #12cd6a !important;
}
.candidate {
  font-size: 15px;
}
.candidate .name a {
  font-size: 21px;
}
.dropdown .form-search-job .btn-search-inline {
  width: initial;
  border: none;
  position: absolute;
  background-color: transparent;
  top: 17px;
  right: 15px;
}
.loadessr {
  width: 98%;
}
