.container.main {
  padding-top: 65px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

.form-group label {
  text-align: left;
}

.checkTerms {
  width: 20px;
  float: left;
}

.gray-light {
  color: #999;
}

.m-t-xs {
  margin-top: 5px;
  font-size: 14px;
}

.btn-dk {
  clear: both;
  background-color: #12cd6a;
  border-color: #12cd6a;
  color: #FFF;
  width: 100%;
}

.remember_me {
  width: 14px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
}

.checkbox-inline {
  padding-left: 0;
}

.login-error-message {
  font-size: 14px;
}
