<!--Footer Area-->
<div class="container-fluid footer">
    <div class="row">
        <div class="container main-container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>About JuniorViec</h3>
                <ul class="list-group">
                    <li>
                        <a routerLink="/list-company">Partner</a>
                    </li>
                    <li>
                        <a routerLink="/about-us">About us</a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy">Terms Of Use</a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy">Privacy Statement</a>
                    </li>
                </ul>
            </div>

            <!---Footer Column 01-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Contact with us</h3>
                <p>05 Tân Lập 1, Phường Thạch Thang, Quận Hải Châu, TP Đà Nẵng</p>
                <p>+46 123 456 789</p>
                <p> juniorviec@gmail.com</p>
                <p><a href="https://juniorviec.com"> https://juniorviec.com</a></p>
                <p><a href="https://www.facebook.com/JuniorViec-1285349608262848/"><i class="fa fa-facebook"></i> Facebook JuniorViec</a></p>
            </div>

        </div>
    </div>
</div>
<!--Footer Area-->
<!--Last Footer Area---->
<div class="container-fluid footer last-footer ">
    <div class="row">
        <div class="container main-container text-center">
            <div class="col-md-12">
                <p class="copyright">Copyright © Công Ty Cổ Phần JuniorViec <br> Địa Chỉ: 05 Tân Lập 1, Phường Thạch Thang, Quận Hải Châu, TP Đà Nẵng, Việt Nam</p>
            </div>
        </div>
    </div>
</div>
<!--Last Footer Area---->