<!--Footer Area-->
<div class="container-fluid footer">
    <div class="row">
        <div class="container main-container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>About JuniorViec</h3>
                <ul class="list-group">
                    <li>
                        <a routerLink="/list-company">Partner</a>
                    </li>
                    <li>
                        <a routerLink="/about-us">About us</a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy">Terms Of Use</a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy">Privacy Statement</a>
                    </li>
                </ul>
            </div>

            <!---Footer Column 01-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Contact with us</h3>

                <p><i style="width: 25px" class="fa fa-map-marker"></i>
                    <a href="https://www.google.com/maps/place/5+T%C3%A2n+L%E1%BA%ADp+1,+H%E1%BA%A3i+Ch%C3%A2u,+%C4%90%C3%A0+N%E1%BA%B5ng+550000/@16.0814823,108.2186884,18z/data=!3m1!4b1!4m5!3m4!1s0x3142183ea958c493:0x6fc972491da0d23a!8m2!3d16.0814823!4d108.2197827">&nbsp;05 Tân Lập 1, Phường Thạch Thang, Quận Hải Châu, TP Đà Nẵng</a>
                </p>

                <p><i style="width: 25px" class="fa fa-phone"></i>&nbsp;+46 123 456 789</p>

                <p><i style="width: 25px" class="fa fa-envelope"></i>&nbsp;juniorviec@gmail.com</p>

                <p><i style="width: 25px" class="fa fa-globe"></i>
                    <a href="https://juniorviec.com">&nbsp;https://juniorviec.com</a>
                </p>

                <p><i style="width: 25px" class="fa fa-facebook"></i><a href="https://www.facebook.com/JuniorViec-1285349608262848/">&nbsp;Facebook JuniorViec</a></p>
            </div>

        </div>
    </div>
</div>
<!--Footer Area-->
<!--Last Footer Area---->
<div class="container-fluid footer last-footer ">
    <div class="row">
        <div class="container main-container text-center">
            <div class="col-md-12">
                <p class="copyright">Copyright © Công Ty Cổ Phần JuniorViec <br> Địa Chỉ: 05 Tân Lập 1, Phường Thạch Thang, Quận Hải Châu, TP Đà Nẵng, Việt Nam</p>
            </div>
        </div>
    </div>
</div>
<!--Last Footer Area---->