<div class="steps-wrapper">
  <div class="steps-form-2">
    <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
      <div class="steps-step-2" [class.active]="currentPage == 1">
        <a routerLink="/my-career-center/update-profile/step1" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Basic Information">
        <i class="fa fa-user" aria-hidden="true"></i></a>
        <div class="steps-text">
          <p class="title">{{ 'personalInfo.personalInfo' | translate }}</p>
          <p class="info">(Chưa hoàn thiện)</p>
        </div>
      </div>
      <div class="steps-step-2" [class.active]="currentPage == 2">
        <a routerLink="/my-career-center/update-profile/step2" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Personal Data">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
        <div class="steps-text">
          <p class="title">{{ 'educationHistory.educationHistory' | translate }}</p>
          <p class="info">(Chưa hoàn thiện)</p>
        </div>
      </div>
      <div class="steps-step-2" [class.active]="currentPage == 3">
        <a routerLink="/my-career-center/update-profile/step3" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Terms and Conditions">
        <i class="fa fa-bolt" aria-hidden="true"></i></a>
        <div class="steps-text">
          <p class="title">{{ 'skill.skillAndLanguage' | translate }}</p>
          <p class="info">(Chưa hoàn thiện)</p>
        </div>
      </div>
      <div class="steps-step-2" [class.active]="currentPage == 4">
        <a routerLink="/my-career-center/update-profile/step4" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top" title="Finish">
        <i class="fa fa-building" aria-hidden="true"></i></a>
        <div class="steps-text">
          <p class="title">{{ 'workingPreferences.workingPreferences' | translate }}</p>
          <p class="info">(Chưa hoàn thiện)</p>
        </div>
      </div>
      <div class="steps-step-2" [class.active]="currentPage == 5">
        <a routerLink="/my-career-center/update-profile/step5" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top" title="Finish">
        <i class="fa fa-briefcase" aria-hidden="true"></i></a>
        <div class="steps-text">
          <p class="title">Kinh nghiệm làm việc</p>
          <p class="info">(Chưa hoàn thiện)</p>
        </div>
      </div>
    </div>
  </div>
</div>
