<!-- Header Section -->
<app-home-company></app-home-company>
<!-- Header Section -->

<!--content lost_password-->
<div class="container main m-t-lg">
    <div class="row ">
       
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center m-t-lg m-b-lg">
          <a routerLink="/"><img src="../../../../assets/images/logo.png" alt="Juniorviec - Mạng tuyển dụng, việc làm hàng đầu Việt Nam." title="Juniorviec - Mạng tuyển dụng, việc làm hàng đầu Việt Nam." class="jnv-logo"></a>
        </div>
        <div class="ibox">
          <div class="ibox-content fadeInRight animated">
            <div class="row loader-wrapper">
                <div class="loadessr blur-loading" *ngIf="loading">
                  <div class="loader">
                  </div>
                </div>
              <div class="col-sm-12">
                <div class="row section-form em-log-in">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="text-center m-t-lg m-b-lg">
                      <h1>{{ 'lostPassword.title' | translate }}</h1>
                    </div>
                    <div class="text-center"  *ngIf="!requested">
                        <p>{{ 'lostPassword.plsEnterEmail' | translate }}</p>
                    </div>
                    <form name="contact_us"
                          class="contact_us validation-form"
                          [formGroup]="lostPasswordForm"
                          (ngSubmit)="sendLostPasswordEmail()"
                          *ngIf="!requested">
      
                      <div class="form-group global-error"
                          *ngIf="hasServerError">
                        <label></label>
                        <div class="error-input">
                            <div >
                                {{globalError}}
                            </div>
                        </div>
                      </div>
      
                      <div class="form-group required">
                        <label>Email</label>
                        <div class="input-container">
                          <input type="text"
                                name="name"
                                formControlName="email"
                                [class.has-error]="submitted && f.email.errors">
                          <div *ngIf="lostPasswordForm.invalid"
                                  class="error-input">
                                  <div *ngIf="submitted && f.email.errors?.required">
                                    {{ 'lostPassword.emailRequired' | translate }}
                                  </div>
                                  <div *ngIf="submitted && f.email.errors?.email">
                                    {{ 'lostPassword.invalidEmail' | translate }}
                                  </div>
                                  <div *ngIf="submitted && f.email.errors?.nonExisted">
                                    {{ 'lostPassword.wrongEmail' | translate }}
                                  </div>
                            </div>
                          </div>
                        </div>
      
      
                      <div class="form-group submit">
                        <label>{{ 'lostPassword.submit' | translate }}</label>
                        <input type="submit" name="submit" value="{{ 'lostPassword.submit' | translate }}"class="submit" id="submit">
                      </div>
                    </form>
                    <div class=" col-xs-12 m-b-lg text-center" *ngIf="requested">
                        <p>{{ 'lostPassword.anReset' | translate }} <strong>{{givenEmail}}</strong> {{ 'lostPassword.ifCorrect' | translate }}</p>
                        <div _ngcontent-c1="" class="col-xs-12 text-center">
                          <a _ngcontent-c1="" class="btn btn-black" routerLink="/employer/login" value="login">{{ 'lostPassword.signIn' | translate }}</a>
                        </div>
                    </div>
                  </div>
            </div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>


  
<!--content lost_password-->

<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->