<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Thu,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="1"></steps-update-profile>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">{{ 'personalInfo.basicInfo' | translate }}</h4>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2 container-overlay" for="uploader-input">
        <img class="profile-img" src="{{profileImageURL}}">
        <label class="overlay" for="uploader-input">
          <div class="icon" for="uploader-input"><i class="fa fa-camera" aria-hidden="true"></i></div>
          <div class="content">
            <p class="text">{{ 'personalInfo.changeAvatar' | translate }}</p>
          </div>
        </label>
        <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (fileOver)="fileOver($event)" id="uploader-input" />
        <ngx-loading
          [show]="uploader.isUploading"
          [config]="{ animationType: ngxLoadingAnimationTypes.threeBounce, backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)' }">
        </ngx-loading>
      </div>

      <div class="col-sm-9 col-md-10">
        <form class="update-form" [formGroup]="basicInfoFormGroup" (ngSubmit)="onSubmitBasicInfo()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{ 'has-error': submittedBasic && biF.jobTitle.errors }">
                <label for="email" class="required">{{ 'personalInfo.professionalTitle' | translate }}:</label>
                <input type="text" class="form-control" formControlName="jobTitle">
                <div *ngIf="submittedBasic && biF.jobTitle.errors">
                  <em *ngIf="biF.jobTitle.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="required">{{ 'personalInfo.academicLevel' | translate }}:</label>
                <ng-select
                  class="jv"
                  formControlName="educationalStatus"
                  [ngClass]="{ 'ng-touched': submittedBasic && biF.educationalStatus.errors }"
                  [items]="academicLevel"
                  [closeOnSelect]="true"
                  [hideSelected]="true"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select ...">
               </ng-select>
               <div *ngIf="submittedBasic && biF.educationalStatus.errors">
                 <em *ngIf="biF.educationalStatus.errors.required" class="ng-select help-block">{{ 'validation.fieldRequired' | translate }}</em>
               </div>
              </div>
            </div>
          </div>
          <ng-container formGroupName="yearsExperienceForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-error': submittedBasic && yearsExperienceForm.errors }">
                  <label class="required" for="email">{{ 'personalInfo.yearsExperience' | translate }}:</label>
                  <input type="text" class="form-control" formControlName="yearsOfExperience" *ngIf="!yearsExperienceForm.value.noWorkExperience">
                  <div *ngIf="submittedBasic && yearsExperienceForm.errors">
                    <em *ngIf="yearsExperienceForm.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
                    <em *ngIf="yearsExperienceForm.errors.notANumber" class="error help-block">Invalid years of experience</em>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="checkbox">
                  <label class="no-work-experience"><input type="checkbox" formControlName="noWorkExperience"> {{ 'personalInfo.haveNoWorkExperience' | translate }}</label>
                </div>
              </div>
            </div>
          </ng-container>
          <hr>
          <div class="pull-right">
            <button type="submit" class="btn btn-defaut bg-submit">
              <i *ngIf="!isSubmittingBasic" class="fa fa-check-circle" aria-hidden="true"></i>
              <i *ngIf="isSubmittingBasic" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              {{ 'common.btnUpdate' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">{{ 'personalInfo.personalInfo' | translate }}</h4>
    </div>
    <form class="update-form" [formGroup]="personalInfoFormGroup" (ngSubmit)="onSubmitPersonalInfo()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.fullName.errors }">
            <label for="email" class="required">{{ 'personalInfo.fullName' | translate }}</label>
            <input type="text" class="form-control" formControlName="fullName">
            <div *ngIf="submittedPersonal && piF.fullName.errors">
              <em *ngIf="piF.fullName.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.phoneNumber.errors }">
            <label for="email" class="required">{{ 'personalInfo.cellNumber' | translate }}</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
            <div *ngIf="submittedPersonal && piF.phoneNumber.errors">
              <em *ngIf="piF.phoneNumber.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
              <em *ngIf="piF.phoneNumber.errors.pattern" class="error help-block">Invalid phone number</em>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.email.errors }">
            <label for="email" class="required">{{ 'personalInfo.email' | translate }}</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="submittedPersonal && piF.email.errors">
              <em *ngIf="piF.email.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
              <em *ngIf="piF.email.errors.email" class="error help-block">Invalid email address</em>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.dateOfBirth.errors }">
            <label for="email" class="required">{{ 'personalInfo.dateOfBirth' | translate }}</label>
             <input
              type="text"
              class="form-control"
              placeholder="Date of birth"
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
              bsDatepicker
              formControlName="dateOfBirth" />
              <div *ngIf="submittedPersonal && piF.dateOfBirth.errors">
                <em *ngIf="piF.dateOfBirth.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.gender.errors }">
            <label class="lb-radio required">{{ 'personalInfo.gender' | translate }}</label>
            <label class="radio-inline lb-radio"><input type="radio" value="MALE" name="gender" formControlName="gender" checked> {{ 'personalInfo.male' | translate }}</label>
            <label class="radio-inline lb-radio"><input type="radio" value="FEMALE" name="gender" formControlName="gender"> {{ 'personalInfo.female' | translate }}</label>
            <div class="col-xs-12" *ngIf="submittedPersonal && piF.gender.errors">
              <em *ngIf="piF.gender.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
            </div>
          </div>
        </div>
        <div class="col-md-6 clear-both-sm">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.maritalStatus.errors }">
            <label class="lb-radio required">{{ 'personalInfo.maritalStatus' | translate }}</label>
            <label class="radio-inline lb-radio clear-both-sm"><input type="radio" value="SINGLE" name="maritalStatus" formControlName="maritalStatus" checked> {{ 'personalInfo.single' | translate }}</label>
            <label class="radio-inline lb-radio"><input type="radio" name="maritalStatus" value="MARRIED" formControlName="maritalStatus"> {{ 'personalInfo.married' | translate }}</label>
            <div class="col-xs-12" *ngIf="submittedPersonal && piF.maritalStatus.errors">
              <em *ngIf="piF.maritalStatus.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
            </div>
          </div>
        </div>
      </div>

      <div class="address-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.country.errors }">
              <label for="country" class="required">{{ 'personalInfo.nationality' | translate }}</label>
              <input type="text" class="form-control" formControlName="country">
              <div *ngIf="submittedPersonal && piF.country.errors">
                <em *ngIf="piF.country.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.city.errors }">
              <label for="email" class="required">{{ 'personalInfo.city' | translate }}</label>
              <input type="text" class="form-control" formControlName="city">
              <div *ngIf="submittedPersonal && piF.city.errors">
                <em *ngIf="piF.city.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.currentAddress.errors }">
              <label for="email" class="required">{{ 'personalInfo.address' | translate }}</label>
              <input type="text" class="form-control" formControlName="currentAddress">
              <div *ngIf="submittedPersonal && piF.currentAddress.errors">
                <em *ngIf="piF.currentAddress.errors.required" class="error help-block">{{ 'validation.fieldRequired' | translate }}</em>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
          <div class="pull-right">
            <button type="submit" class="btn btn-defaut bg-submit">
              <i *ngIf="!isSubmittingPersonal" class="fa fa-check-circle" aria-hidden="true"></i>
              <i *ngIf="isSubmittingPersonal" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              {{ 'common.btnUpdate' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
