.wrapper-content {
  padding-top: 147px;
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px #ccc solid;

  .alert-add-more-detail {
    color: #000;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 0.5px 0 rgba(0,0,0,.1);
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  .has-error {
    .error.help-block {
      font-size: 13px;
    }
  }
  .ng-select.help-block {
    font-size: 13px;
    color: #a94442;
  }
}

.box-content {
  min-height: 100px;
  padding: 16px;
  margin-top: 20px;
}

.box {
  padding: 14px 16px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin-bottom: 20px;
}

.heading-title {
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #3e4c5f;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #eee;
  padding-top: 0;
  position: relative;

  &:before {
    background: #0091ce none repeat scroll 0 0;
    border-radius: 12px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 29px;
    width: 120px;
  }
}

.container-overlay {

  .profile-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 5px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    padding: 0 15px;
    cursor: pointer;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 15px;
      .text {
        background: rgba(51,51,51,.83);
        font-size: 13px;
        color: #d6d8da;
        text-align: center;
        margin: 0;
        border-radius: 0 0 5px 5px;
      }
    }
  }
  &:hover {
    .profile-img {
      opacity: 0.3;
    }

    .overlay {
      opacity: 1;
    }
  }
}

.update-form {
  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    float: left;
    &.required:before {
      content: "*";
      color: #ff4949;
      margin-right: 4px;
    }
  }

  input[type='radio'] {
    width: unset;
  }

  .checkbox {
    .no-work-experience {
      margin-bottom: 0;
      margin-top: 33px;
    }
  }

  label.lb-radio {
    line-height: 1.9;
  }
}

.address-block {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  background-color: #f9f9f9;
}

@media (max-width: 992px) {
  .clear-both-sm {
    clear: both;
  }
}
