<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Thu,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="1"></steps-update-profile>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">Thông tin cơ bản</h4>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2 container-overlay" for="uploader-input">
        <img class="profile-img" src="assets/images/profile-placeholder.png">
        <label class="overlay" for="uploader-input">
          <div class="icon" for="uploader-input"><i class="fa fa-camera" aria-hidden="true"></i></div>
          <div class="content">
            <p class="text">Thay đổi ảnh đại diện</p>
          </div>
        </label>
        <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (fileOver)="fileOver($event)" id="uploader-input" />
      </div>

      <div class="col-sm-9 col-md-10">
        <form class="update-form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email" class="required">Vị trí/việc làm cần ứng tuyển:</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div>
                <label class="required">Trình độ học vấn:</label>
                <ng-select>
                   <ng-option *ngFor="let car of jobsLevel" [value]="car.id">{{car.name}}</ng-option>
               </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="required" for="email">Số năm kinh nghiệm:</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="checkbox">
               <label class="no-work-experience"><input type="checkbox"> Tôi chưa có kinh nghiệm</label>
             </div>
            </div>
          </div>
          <div class="foot-content">
            <hr>
            <button type="submit" class="btn btn-defaut bg-submit"><i class="fa fa-check-circle" aria-hidden="true"></i> Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">Thông tin cá nhân</h4>
    </div>
    <form class="update-form">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Họ tên</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Số điện thoại</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Địa chỉ email</label>
            <input type="email" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Ngày sinh</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="lb-radio required">Giới tính</label>
            <label class="radio-inline lb-radio"><input type="radio" name="optradio" checked> Nam</label>
            <label class="radio-inline lb-radio"><input type="radio" name="optradio"> Nữ</label>
          </div>
        </div>
        <div class="col-md-6 clear-both-sm">
          <div class="form-group">
            <label class="lb-radio required">Trình trạng hôn nhân</label>
            <label class="radio-inline lb-radio clear-both-sm"><input type="radio" name="optradio" checked> Độc thân</label>
            <label class="radio-inline lb-radio"><input type="radio" name="optradio"> Đã kết hôn</label>
          </div>
        </div>
      </div>

      <div class="address-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="email" class="required">Quốc tịch</label>
              <input type="email" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="email" class="required">Thành phố</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="email" class="required">Địa chỉ</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <hr>
            <button type="submit" class="btn btn-defaut bg-submit"><i class="fa fa-check-circle" aria-hidden="true"></i> Cập nhật</button>
          </div>
      </div>
      </div>
    </form>
  </div>
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
