<!-- Header Section -->
<user-header></user-header>
<!-- Header Section -->
<div class="container wrapper-content">
  <div class="alert alert-add-more-detail alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-fw fa-lg fa-info-circle text-primary"></i> <strong>Thu,</strong> Add more details and start getting job interviews straight away!
  </div>

  <steps-update-profile currentPage="1"></steps-update-profile>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">Thông tin cơ bản</h4>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2 container-overlay" for="uploader-input">
        <img class="profile-img" src="assets/images/profile-placeholder.png">
        <label class="overlay" for="uploader-input">
          <div class="icon" for="uploader-input"><i class="fa fa-camera" aria-hidden="true"></i></div>
          <div class="content">
            <p class="text">Thay đổi ảnh đại diện</p>
          </div>
        </label>
        <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (fileOver)="fileOver($event)" id="uploader-input" />
      </div>

      <div class="col-sm-9 col-md-10">
        <form class="update-form" [formGroup]="basicInfoFormGroup" (ngSubmit)="onSubmitBasicInfo()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{ 'has-error': submittedBasic && biF.jobTitle.errors }">
                <label for="email" class="required">Vị trí/việc làm cần ứng tuyển:</label>
                <input type="text" class="form-control" formControlName="jobTitle">
                <div *ngIf="submittedBasic && biF.jobTitle.errors">
                  <em *ngIf="biF.jobTitle.errors.required" class="error help-block">Field is Required</em>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="required">Trình độ học vấn:</label>
                <ng-select
                  class="jv"
                  formControlName="educationalStatus"
                  [ngClass]="{ 'ng-touched': submittedBasic && biF.educationalStatus.errors }"
                  [items]="jobsLevel"
                  [closeOnSelect]="true"
                  [hideSelected]="true"
                  bindLabel="name"
                  placeholder="Select ...">
               </ng-select>
               <div *ngIf="submittedBasic && biF.educationalStatus.errors">
                 <em *ngIf="biF.educationalStatus.errors.required" class="ng-select help-block">Field is Required</em>
               </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" [ngClass]="{ 'has-error': submittedBasic && biF.yearsOfExperience.errors }">
                <label class="required" for="email">Số năm kinh nghiệm:</label>
                <input type="number" class="form-control" formControlName="yearsOfExperience">
                <div *ngIf="submittedBasic && biF.yearsOfExperience.errors">
                  <em *ngIf="biF.yearsOfExperience.errors.required" class="error help-block">Field is Required</em>
                  <em *ngIf="piF.phoneNumber.errors.pattern" class="error help-block">Invalid years of experience</em>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="checkbox">
               <label class="no-work-experience"><input type="checkbox"> Tôi chưa có kinh nghiệm</label>
             </div>
            </div>
          </div>
          <hr>
          <div class="pull-right">
            <button type="submit" class="btn btn-defaut bg-submit">
              <i *ngIf="!isSubmittingBasic" class="fa fa-check-circle" aria-hidden="true"></i>
              <i *ngIf="isSubmittingBasic" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
              Cập nhật
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="box-content box">
    <div>
      <h4 class="heading-title">Thông tin cá nhân</h4>
    </div>
    <form class="update-form" [formGroup]="personalInfoFormGroup" (ngSubmit)="onSubmitPersonalInfo()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.fullName.errors }">
            <label for="email" class="required">Họ tên</label>
            <input type="text" class="form-control" formControlName="fullName">
            <div *ngIf="submittedPersonal && piF.fullName.errors">
              <em *ngIf="piF.fullName.errors.required" class="error help-block">Field is Required</em>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.phoneNumber.errors }">
            <label for="email" class="required">Số điện thoại</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
            <div *ngIf="submittedPersonal && piF.phoneNumber.errors">
              <em *ngIf="piF.phoneNumber.errors.required" class="error help-block">Field is Required</em>
              <em *ngIf="piF.phoneNumber.errors.pattern" class="error help-block">Invalid phone number</em>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.email.errors }">
            <label for="email" class="required">Địa chỉ email</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="submittedPersonal && piF.email.errors">
              <em *ngIf="piF.email.errors.required" class="error help-block">Field is Required</em>
              <em *ngIf="piF.email.errors.email" class="error help-block">Invalid email address</em>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="required">Ngày sinh</label>
            <input type="text" class="form-control" formControlName="dateOfBirth">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="lb-radio required">Giới tính</label>
            <label class="radio-inline lb-radio"><input type="radio" value="MALE" name="gender" formControlName="gender" checked> Nam</label>
            <label class="radio-inline lb-radio"><input type="radio" value="FEMALE" name="gender" formControlName="gender"> Nữ</label>
          </div>
        </div>
        <div class="col-md-6 clear-both-sm">
          <div class="form-group">
            <label class="lb-radio required">Trình trạng hôn nhân</label>
            <label class="radio-inline lb-radio clear-both-sm"><input type="radio" value="SINGLE" name="maritalStatus" formControlName="maritalStatus" checked> Độc thân</label>
            <label class="radio-inline lb-radio"><input type="radio" name="maritalStatus" value="MARRIED" formControlName="maritalStatus"> Đã kết hôn</label>
          </div>
        </div>
      </div>

      <div class="address-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.country.errors }">
              <label for="country" class="required">Quốc tịch</label>
              <input type="text" class="form-control" formControlName="country">
              <div *ngIf="submittedPersonal && piF.country.errors">
                <em *ngIf="piF.country.errors.required" class="error help-block">Field is Required</em>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.city.errors }">
              <label for="email" class="required">Thành phố</label>
              <input type="text" class="form-control" formControlName="city">
              <div *ngIf="submittedPersonal && piF.city.errors">
                <em *ngIf="piF.city.errors.required" class="error help-block">Field is Required</em>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{ 'has-error': submittedPersonal && piF.currentAddress.errors }">
              <label for="email" class="required">Địa chỉ</label>
              <input type="text" class="form-control" formControlName="currentAddress">
              <div *ngIf="submittedPersonal && piF.currentAddress.errors">
                <em *ngIf="piF.currentAddress.errors.required" class="error help-block">Field is Required</em>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr>
          <div class="pull-right">
            <button type="submit" class="btn btn-defaut bg-submit"><i class="fa fa-check-circle" aria-hidden="true"></i> Cập nhật</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Footer Section -->
<app-footer></app-footer>
<!-- Footer Section -->
