<!--Header Section-->
<app-header></app-header>
<!-- End Header Section-->

<!--Banner Section-->
<div class="container-fluid page-title">
  <div class="row blue-banner">
    <div class="container main-container">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <h3 class="white-heading">Contact us </h3>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <h5>Say hi, drop a letter, and follow us in social media websites.</h5>
      </div>
    </div>
  </div>
</div>
<!--End Banner Section-->

<!--Contact Us Section-->
<div class="container-fluid  contact_us">
  <div class="row">
    <div  id="loadessr" *ngIf="isLoading">
      <div id="loader">
      </div>
    </div>
    <div class="container main-container" id="form-style-2">
      <div class="col-lg-9 col-lg-push-1">
        <form name="form" class="validation-form" (ngSubmit)="contactForm.form.valid && onSubmit(contactForm)" #contactForm="ngForm" novalidate>
          <div class="form-group">
            <label class="col-lg-10 col-lg-push-2 col-md-10 col-md-push-2 col-sm-10 col-sm-push-2 col-xs-12"></label>
            <div class="col-lg-10 col-lg-push-2 col-md-10 col-md-push-2 col-sm-10 col-sm-push-2 col-xs-12 error-message" *ngIf="formErrorMessage">
              <i class="fa fa-times-circle"></i>
              {{formErrorMessage}}
            </div>
          </div>
          <div class="form-group required">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label for="name">{{'contact.name' | translate}}</label></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input class="form-control" type="text" name="name" id="name" #name="ngModel" [(ngModel)]="model.name"
                     [ngClass]="{ 'is-invalid': contactForm.submitted && name.invalid }" required/>
              <div
                *ngIf="contactForm.submitted && name.invalid"
                class="error-input">
                <div *ngIf="name.getError('required')">{{'validation.fieldRequired' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label for="email">{{'contact.mail' | translate}}</label></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input class="form-control" type="email" name="email" id="email" #email="ngModel" [(ngModel)]="model.email"
                     [ngClass]="{ 'is-invalid': contactForm.submitted && email.invalid }" required/>
              <div
                *ngIf="contactForm.submitted && email.invalid"
                class="error-input" >
                <div *ngIf="email.getError('required')">{{'validation.fieldRequired' | translate}}</div>
                <div *ngIf="email.getError('email')">{{'validation.wrongEmail' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label for="subject">{{'contact.subject' | translate}}</label></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <input class="form-control" type="text" name="subject" id="subject" #subject="ngModel" [(ngModel)]="model.subject"
                     [ngClass]="{ 'is-invalid': contactForm.submitted && subject.invalid }" required/>
              <div
                *ngIf="contactForm.submitted && subject.invalid"
                class="error-input" >
                <div *ngIf="subject.getError('required')">{{'validation.fieldRequired' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="form-group required">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><label for="message">{{'contact.message' | translate}}</label></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <textarea class="form-control" type="text" name="message" id="message" #message="ngModel" [(ngModel)]="model.message"
                        [ngClass]="{ 'is-invalid': contactForm.submitted && message.invalid }" required></textarea>
              <div
                *ngIf="contactForm.submitted && message.invalid"
                class="error-input" >
                <div *ngIf="message.getError('required')">{{'validation.fieldRequired' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="form-group submit">
            <div class="col-lg-10 col-lg-push-2 col-md-10 col-md-push-2 col-sm-10 col-sm-push-2 col-xs-12"><input type="submit" name="submit" value="Send message"></div>
            <div class="col-lg-10 col-lg-push-2 col-md-10 col-md-push-2 col-sm-10 col-sm-push-2 col-xs-12 success-message" *ngIf="isSucess">
              <i class="fa fa-check"></i>
              Your message has been sent successfully!
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End Contact Us Section-->

<!--Map Section-->
<div class="container-fluid white-bg">
  <div class="row">
    <div class="container main-container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5035856.888588961!2d19.134378650000002!3d51.953750649999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1spl!2spl!4v1486029286335" width="1170" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>
<!--End Map Section-->

<!-- Footer Section -->
<app-footer></app-footer>
<!--End Footer Section -->
