.container {
  flex-direction: row;
  padding: 16px;
  p{
    display: inline-block;
    position: relative;
    top: -8px
  }
  i{
    margin-left: 10px;
    display: inline-block;
  }

}

.star-rating {
  .to-rate {
    cursor: pointer;
    position: relative;
    padding: 0 3px;
    &:hover{
        animation-name: rating-stars-blink;
        animation-duration: .5s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .fa-star-o {
    font-size: 40px;
    color: orange;
  }

  .fa-star {
    font-size: 40px;
    color: orange;
  }

  .fa-star-half-o {
    font-size: 40px;
    color: orange;
  }

  .to-display {
    padding: 0 2px;
  }
}

@keyframes rating-stars-blink {
  0% {
      opacity: .8;
  }
  100% {
      opacity: 0;
      transform: scale(2);
  }
}