<app-home-company-logged></app-home-company-logged>

<div class="container-fluid main-container header_area">
    <div class="col-md-8 col-xs-12">
        <div class=" blocks">
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <!-- <i class="fa fa-comments fa-5x"></i> -->
                                <i class="fa fa-briefcase  fa-5x" aria-hidden="true"></i>

                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>Công việc</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Tống số việc làm</span>
                        <span class="pull-right">26</span>
                        <div class="clearfix"></div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Việc làm đang hoạt động</span>
                            <span class="pull-right">26</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Việc làm sắp hết hạn</span>
                            <span class="pull-right">26</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Việc làm đã hết hạn</span>
                            <span class="pull-right">26</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-group fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>Ứng viên</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">Tổng số ứng viên</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Hồ sơ mới ứng tuyển</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Hồ sơ chưa xem</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Hồ sơ hết hạn</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- job type filter -->
    <div class="col-md-4 col-xs-12">
        <!-- This is used for filter -->
        <div class="j-type">
            <div class="m-l-sm m-t">
                <p class="j-title">In Last 6 Months</p>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a routerLink="/employer/jobs/active" class="selected">
                                <button type="button" class="btn btn-info btn-badge">
                  &nbsp;{{typeJobs?.active}}&nbsp;
                </button> Currently Online Job Post(s)
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a routerLink="/employer/jobs/expires">
                                <button type="button" class="btn btn-info btn-badge">
                  &nbsp;{{typeJobs?.expiresSoon}}&nbsp;
                </button> Expires in 7 days
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a routerLink="/employer/jobs/expired">
                                <button type="button" class="btn btn-info btn-badge">
                  &nbsp;{{typeJobs?.expired}}&nbsp;
                </button> Expired
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>