<app-home-company-logged></app-home-company-logged>

<div class="container-fluid main-container header_area">
    <div class="col-md-8 col-xs-12">
        <div class=" blocks">
            <div class="col-sm-6 col-xs-12">
                <div class="block job-summary">
                    <div class="col-xs-6">
                        <span class="glyphicon glyphicon-file fa-2x icon-primary"></span>
                    </div>
                    <div class="info col-xs-6 text-right">
                        <div class="type-of-job">Current job</div>
                        <strong class="number-highlight">
              0
            </strong>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="block c-credit-info">
                    <div class="col-md-2 col-sm-4 col-xs-2">
                        <span class="glyphicon glyphicon-file fa-2x icon-primary"></span>
                    </div>
                    <div class="col-md-4 col-sm-8 col-xs-5 text-right">
                        <div class="type-of-job">Credits</div>
                        <strong class="number-highlight">
              0
            </strong>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-5 text-right">
                        <div class="type-of-job">Credits jobs</div>
                        <strong class="number-highlight">
              0
            </strong>
                    </div>
                </div>
            </div>
        </div>

        <!-- all jobs -->
        <div class="blocks">
            <div class="col-sm-6 col-xs-12">
                <div class="block">
                    <div class="j-info text-center">
                        <div class="m-b-md">
                            <h3 class="font-bold one-line text-dot">
                                <a class="j-title" href="">job title job title job title job job title job title jobjob title job title jobjob title job title job title
                  job title</a>
                            </h3>
                            <p>Job category here</p>
                        </div>
                        <div class="j-expiration">
                            <span>106 Views</span> |
                            <span>Expiring in 16 Days</span>
                        </div>
                    </div>
                    <div class="j-status text-center">
                        <h4>Job ID:
                            <strong class="text-highlight">995548</strong>
                        </h4>
                        <p>
                            <small>Job Posting</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="block">
                    <div class="j-info text-center">
                        <div class="m-b-md">
                            <h3 class="font-bold one-line text-dot">
                                <a class="j-title" href="">job title job title job title job job title job title jobjob title job title jobjob title job title job title
                  job title</a>
                            </h3>
                            <p>Job category here</p>
                        </div>
                        <div class="j-expiration">
                            <span>106 Views</span> |
                            <span>Expiring in 16 Days</span>
                        </div>
                    </div>
                    <div class="j-status text-center">
                        <h4>Job ID:
                            <strong class="text-highlight">995548</strong>
                        </h4>
                        <p>
                            <small>Job Posting</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- job type filter -->
    <div class="col-md-4 col-xs-12">
        <!-- This is used for filter -->
        <div class="j-type">
            <div class="m-l-sm m-t">
                <p class="j-title">In Last 6 Months</p>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a routerLink="/employer/jobs/active" class="selected">
                                <button type="button" class="btn btn-info btn-badge">
                  &nbsp;{{typeJobs?.active}}&nbsp;
                </button> Currently Online Job Post(s)
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a routerLink="/employer/jobs/expires">
                                <button type="button" class="btn btn-info btn-badge">
                  &nbsp;{{typeJobs?.expiresSoon}}&nbsp;
                </button> Expires in 7 days
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a routerLink="/employer/jobs/expired">
                                <button type="button" class="btn btn-info btn-badge">
                  &nbsp;{{typeJobs?.expired}}&nbsp;
                </button> Expired
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>