<div id="header" class="container-fluid pages">
  <div class="row">
    <!-- Header Image Or May be Slider-->
    <div class="top_header">
      <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
          <div class="logo">
            <a routerLink="/">
              <img src="assets/images/logo2.png" alt="Photo" />
            </a>
          </div>
          <div class="logins" *ngIf="!isLoggedIn()">
            <a class="flag">
              <span class="label job-type partytime cancel">
                <img *ngIf="isEnLang" class="flag-img" src="../../../assets/images/vietnam-flag.png" alt="vietnamese" (click)="changeLanguage('vi')">
                <!-- if language is US -->
                <img *ngIf="!isEnLang" class="flag-img" src="../../../assets/images/united-states-flag.png" alt="united-states" (click)="changeLanguage('en')">
              </span>
            </a>
            <!-- not logged in -->
            <a routerLink="/login" *ngIf="!isLoggedIn()" class="student-login">
              <span class="label job-type partytime">{{ 'header.login' | translate }}</span>
            </a>
            <a routerLink="/register" class="student-register">
              <span class="label job-type partytime">{{ 'header.register' | translate }}</span>
            </a>
            <a class="employer" href="{{employerUrl}}" target="_blank">
              <span class="label job-type partytime Companies-head">
                <p class="main-title">{{ 'header.employer' | translate }}</p>
                <p class="title">{{ 'header.recruit' | translate }}</p>
              </span>
            </a>
          </div>

          <!-- logged -->
          <div class="logins" *ngIf="isLoggedIn()">
            <a class="flag">
              <span class="label job-type partytime cancel">
                <img *ngIf="isEnLang" class="flag-img" src="../../../assets/images/vietnam-flag.png" alt="vietnamese" (click)="changeLanguage('vi')">
                <!-- if language is US -->
                <img *ngIf="!isEnLang" class="flag-img" src="../../../assets/images/united-states-flag.png" alt="united-states" (click)="changeLanguage('en')">
              </span>
            </a>
            <a href="#" class="dropdown-toggle user-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="label job-type partytime profile-head user-icon">
              <img class="icon-user-profile" src="{{ user.profileImageURL | photoURLConverter:'assets/images/profile-placeholder.png' }}">
              <span>{{ user.displayName }}</span>
              <i style="vertical-align: top;" class="fa fa-sort-desc" aria-hidden="true"></i>
            </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/my-career-center">My Profile</a>
              </li>
              <li>
                <a routerLink="/my-career-center/notification-jobs">{{ 'header.jobAlerts' | translate }}</a>
              </li>
              <li>
                <a role="button" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle flag-mobile">
              <img *ngIf="isEnLang" src="../../../assets/images/vietnam-flag.png" alt="vietnamese" (click)="changeLanguage('vi')">
              <!-- if language is US -->
              <img *ngIf="!isEnLang" src="../../../assets/images/united-states-flag.png" alt="united-states" (click)="changeLanguage('en')">
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" *ngIf="!isLoggedIn()">
              <li>
                <a routerLink="/browse-jobs">{{ 'header.jobs' | translate }}</a>
              </li>
              <li>
                <a routerLink="/companies">{{ 'header.companies' | translate }}</a>
              </li>
              <!-- not logged in -->
              <li class="mobile-menu">
                <a routerLink="/login">{{ 'header.login' | translate }}</a>
              </li>
              <li class="mobile-menu">
                <a routerLink="/register">{{ 'header.register' | translate }}</a>
              </li>
              <li class="mobile-menu">
                <a href="{{employerUrl}}" target="_blank">{{ 'header.employer' | translate }}</a>
              </li>
            </ul>

            <!-- logged -->
            <ul class="nav navbar-nav" *ngIf="isLoggedIn()">
              <li>
                <a routerLink="/browse-jobs">{{ 'header.jobs' | translate }}</a>
              </li>
              <li>
                <a routerLink="/companies">{{ 'header.companies' | translate }}</a>
              </li>
              <li  class="mobile-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.displayName }}</a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/my-career-center">My Profile</a>
                  </li>
                  <li>
                    <a routerLink="/notification-jobs">{{ 'header.jobAlerts' | translate }}</a>
                  </li>
                  <li>
                    <a role="button" (click)="logout()">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- navbar-collapse -->
        </div>
        <!-- container-fluid -->

        <div class="main-wrapper-menu">
          <nav class="container">
            <h1 class="title">{{ 'header.careerCenter' | translate }}</h1>
            <ul class="nav navbar-nav">
              <li><a class="active" href="/my-career-center/dashboard">{{ 'header.dashboard' | translate }}</a></li>
              <!-- <li><a href="#">{{ 'header.myJobs' | translate }}</a></li> -->
              <li><a routerLink="/my-career-center/notification-jobs">{{ 'header.jobAlerts' | translate }}</a></li>
            </ul>
          </nav>
        </div>
      </nav>
    </div>
  </div>
</div>
