<app-home-company-logged></app-home-company-logged>
<div class="container-fluid main-container header_area">
  <div class="candidate-list col-sm-12 col-md-9 col-lg-9">
    <div class="ibox">
      <div class="ibox-content">
        <div class="tab-content">
          <div class="m-t candidate-sub-content">
            <h3 class="m-b-lg">Hồ sơ ứng viên bị từ chối</h3>
            <!-- No data box -->
            <div class="empty-box">
              <span class="fa fa-inbox"></span>
              <h2>Hiện tại không có hồ sơ bị từ chối</h2>
            </div>
            <!--End No data box-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="candidate-sidebar col-sm-12 col-md-3 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="job-ajax-link" routerLink="/" data-href="/" data-title="Hồ sơ theo thư mục">HỒ SƠ THEO THƯ MỤC
        </a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <ul class="folder-list no-padding">
            </ul>
          </div>
        </div>

        <div class="small">
          <span class="pull-left">
            <a routerLink="/">
              <i class="fa fa-edit"></i> Quản lý thư mục</a>
          </span>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/" data-title="Hồ sơ ứng viên bị từ chối">DANH SÁCH TỪ CHỐI</a>
      </div>
    </div>
  </div>
</div>