.home {
  background-color: #fcfcfc;
  .sidebar {
    padding: 3.5vh 2vw;
    @media screen and(width: 768px) {
      padding:2.5vh 2vw;
    }
  }
  h1 {
    font-size: 1.7em;
  }
}

.filter-mobile-menu {
  width: 100Vw;
  margin: 0px;
  margin-top: 20vh;
  .modal-content {
    border-radius: 0px;
  }
  accordion-group {
    cursor: pointer;
  }
}
