// header not login
.pages .navbar {
  background: #12cd6a;
}

.navbar-fixed-top {
  padding: 0 0;
}

#header .collapse {
  padding-top: 6px;
}

.logo {
  margin-top: 8px;
}

.nav {
  padding-left: 16px;
  a {
    color: #fff;
    font-size: 15px;
    text-transform: none;
    &:hover {
      color: #0e974e;
    }
  }
}

.nav>li a {
  padding: 13px;
}
.nav>li:hover a,
.nav>li>a:focus,
.nav>li>a:hover,
.nav li.active a {
  color: #12cd6a;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.navbar-nav {
  padding-top: 2px;
  padding-bottom: 8px;
}

.logins {
  padding-top: 0
}

@mixin cancel {
  background: none;
  border: none;
  border-radius: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-right: 0;
  padding: 0;
  color: #12cd6a;
  width: auto;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}

.logins {
  span {
    padding: 10px 20px;
    color: #fff;
    ;
    border-color: #fff;
    &:hover {
      background-color: #0e974e
    }
  }
  right: 0px;
  >.flag>.cancel {
    @include cancel()
  }
}

.flag-img {
  margin-top: 20px;
}

.student-login,
.student-register,
.post_job,
.user-profile {
  span {
    margin-top: 12px;
    margin-left: 10px;
  }
}

.student-login span {
  margin-left: 20px;
}

.user-profile span {
  margin-right: 10px
}

.employer span {
  margin-left: 10px;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 88px 0 0 88px;
  color: #12cd6a;
  border-color: #fff;
  line-height: 10px;
  padding: 2px 20px;
  width: auto;
  -webkit-border-radius: 88px 0 0 88px;
  -moz-border-radius: 88px 0 0 88px;
  -ms-border-radius: 88px 0 0 88px;
  -o-border-radius: 88px 0 0 88px;
  &:hover {
    background-color: #fff
  }
}

.main-title {
  white-space: pre-line;
  padding-top: 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.title {
  font-family: sans-serif;
  font-size: 14px
}

.textOption {
  color: #12cd6a;
  margin-left: 2px;
}

.companies-head {
  background-color: #12cd6a;
  color: #fff;
}

.companies-head:hover {
  background-color: #fff;
  color: #000;
}

.profile-head {
  background-color: #12cd6a;
  color: #fff;
  padding: auto 5px;
}

.open>.dropdown-menu {
  display: block;
  right: -10px;
  left: 200px;
}

span.label.job-type.partytime.profile-head.fa {
  font-size: 18px;
}

button.navbar-toggle.flag-mobile {
  background: none;
  padding: 4px 1px;
  margin-right: 10px;
}

.slogan a {
  margin-top: 12vh;
}

@media (max-width: 1360px) {
  .top_header .nav>li a {
    padding: 12px 10px;
  }
  .navbar-nav {
    padding-top: 2px;
    padding-bottom: 10px;
  }
}

@media (min-width: 319px) and (max-width: 1200px) {
  .logo {
    padding-top: 2px;
  }
  .showSearchBtn {
    display: block;
  }
  .navbar-nav {
    width: 100%;
    text-align: center
  }
  .nav>li {
    border-bottom: 1px solid #d6d6d6
  }
  .nav>li:last-child {
    border: medium none
  }
  .navbar-nav>li .dropdown-menu {
    text-align: center;
    width: 100%;
    a {
      font-size: 14px;
    }
  }
}

@media (min-width: 210px) and (max-width: 320px) {
  .logo {
    width: 146px;
  }
  .navbar-nav {
    width: 100%;
    text-align: center
  }
  .navbar-nav>li .dropdown-menu {
    text-align: center;
    width: 100%;
    a {
      font-size: 14px;
    }
  }
}

//header login